<form [formGroup]="formGroup"
      (ngSubmit)="onFormSubmit($event, formGroup.value)">
  <mat-form-field floatLabel="always">
    <mat-label [innerHtml]="'pricingRequestForm.projectName.label' | translate"></mat-label>
    <input matInput
           type="text"
           formControlName="projectName"
           required
           placeholder="{{ 'pricingRequestForm.projectName.placeholder' | translate }}">
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label [innerHtml]="'pricingRequestForm.companyName.label' | translate"></mat-label>
    <input matInput
           type="text"
           formControlName="companyName"
           required
           placeholder="{{ 'pricingRequestForm.companyName.placeholder' | translate }}">
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label [innerHtml]="'pricingRequestForm.email.label' | translate"></mat-label>
    <input matInput
           type="email"
           formControlName="email"
           required
           placeholder="{{ 'pricingRequestForm.email.placeholder' | translate }}">
  </mat-form-field>
  <mat-form-field floatLabel="always">
    <mat-label [innerHtml]="'pricingRequestForm.phone.label' | translate"></mat-label>
    <input matInput
           type="text"
           formControlName="phone"
           required
           placeholder="{{ 'pricingRequestForm.phone.placeholder' | translate }}">
  </mat-form-field>

  <p [innerHtml]="'pricingRequestForm.sizeTitle' | translate"></p>
  <mat-radio-group class="team-sizes"
                   formControlName="teamSize">
    <mat-radio-button *ngFor="let teamSize of teamSizes" [value]="teamSize.value">{{ teamSize.text }}</mat-radio-button>
  </mat-radio-group>

  <mat-form-field floatLabel="always">
    <mat-label [innerHtml]="'pricingRequestForm.note.label' | translate"></mat-label>
    <textarea matInput
              formControlName="note"
              rows="7"
              placeholder="{{ 'pricingRequestForm.note.placeholder' | translate }}"></textarea>
  </mat-form-field>

  <div class="actions">
    <button mat-flat-button
            class="action"
            [class.in-progress]="isInProgress"
            type="submit"
            color="primary"
            [disabled]="!formGroup.valid">
      {{ 'pricingRequestForm.submit' | translate }}
    </button>
  </div>
</form>
