$bg-charcoal: #444A52;
$bg-yellow: #F7C243;
$bg-pink: #DA507A;
$bg-green: #C0D99A;
$bg-blue: #2E76DF;

$text-charcoal: #444A52;
$text-yellow: #F7C243;
$text-pink: #DA507A;
$text-green: #C0D99A;
$text-blue: #2E76DF;
