@import '~@angular/material/theming';

$mat-primary: (
  50 : #fef8e8,
  100 : #fdedc7,
  200 : #fbe1a1,
  300 : #f9d47b,
  400 : #f8cb5f,
  500 : #f7c243,
  600 : #f6bc3d,
  700 : #f5b434,
  800 : #f3ac2c,
  900 : #f19f1e,
  A100 : #ffffff,
  A200 : #fffaf3,
  A400 : #ffe5c0,
  A700 : #ffdaa7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-secondary: (
  50 : #e2e6ec,
  100 : #b7c1cf,
  200 : #8798af,
  300 : #566e8e,
  400 : #324f76,
  500 : #0e305e,
  600 : #0c2b56,
  700 : #0a244c,
  800 : #081e42,
  900 : #041331,
  A100 : #6991ff,
  A200 : #366bff,
  A400 : #0346ff,
  A700 : #003ee9,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-bray: (
  50 : #ebebeb,
  100 : #cdcccc,
  200 : #acaaaa,
  300 : #8b8888,
  400 : #726f6f,
  500 : #595555,
  600 : #514e4e,
  700 : #484444,
  800 : #3e3b3b,
  900 : #2e2a2a,
  A100 : #f58888,
  A200 : #f25959,
  A400 : #ff1919,
  A700 : #fe0000,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

//$mat-light-theme-foreground: (
//  base: black,
//  divider: $black-12-opacity,
//  dividers: $black-12-opacity,
//  disabled: rgba(black, 0.38),
//  disabled-button: rgba(black, 0.38),
//  disabled-text: rgba(black, 0.38),
//  hint-text: rgba(black, 0.38),
//  secondary-text: #cdcdce, // rgba(black, 0.54),
//  icon: rgba(black, 0.54),
//  icons: rgba(black, 0.54),
//  text: rgba(black, 0.87),
//  slider-min: rgba(black, 0.87),
//  slider-off: rgba(black, 0.26),
//  slider-off-active: rgba(black, 0.38),
//);

//@include mat-core();

$basic-primary-palette: mat-palette($mat-primary);
$basic-accent-palette: mat-palette($mat-secondary);
$basic-theme: mat-light-theme($basic-primary-palette, $basic-accent-palette);

$google-color-green: #0F9D58;
$google-color-blue: #4285F4;
$google-color-red: #DB4437;
$google-color-yellow: #F4B400;
$google-color-white: #FFFFFF;

$color-primary: map_get($mat-primary, 500);
$color-secondary: map_get($mat-secondary, 500);
$color-alternate: #eeeeee;
$color-alternate-dark: #d8d8d8;
$color-basic-blue: #2a2e7c;
$color-background-darkgray: #222228;

$color-text-default: #383838;
$color-text-secondary: #848484;
$color-text-light: rgba(255, 255, 255, .87);
$color-disabled-text: #9f9f9f;
$color-disabled-background: #eff0f4;

$color-success: $google-color-green;
$color-warn: $google-color-yellow;
$color-alert: $google-color-red;
$color-info: $google-color-blue;

$section-background-gradient: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .1) 25%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, 0) 100%);
$background-image-default: linear-gradient(#2d3284, #1a1d49);

$color-primary-green: #37BEBA;
$color-primary-coral: #FF6F61;

$color-secondary-green: #80E6E5;
$color-secondary-blue: #2239A4;
$color-secondary-navy: #21285C;
$color-secondary-gray: #E1EAF0;

$color-sub-gray: #A1A1A1;
$color-sub-gray-dark: #383838;
$color-sub-gray-light: #E0E0E0;

$color-admin-background: #25292D;
