@import 'treo';

.branches {
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex-column(center);
  opacity: .1;
  overflow: hidden;
  display: none;

  @media #{$medium-up} {
    @include flex-column(center);
    max-width: rem(300px);
    position: relative;
    opacity: 1;
  }
}

.subscription-content {
  @include flex-column(center);
  flex: 3;
  // padding: 3rem 0;
  max-width: rem(900px);

  @media #{$medium-up} {
    padding: 6rem 0 3rem 0;
  }
}

.coming-soon {
  @media #{$medium-up} {
    font-size: rem(18px);
  }
}

h1 {
  //color: map_get($mat-primary, 500);
  font-weight: 500;

  @media #{$medium-up} {
    font-size: rem(52px);
  }

  img {
    width: rem(130px);

    @media #{$medium-up} {
      width: rem(200px);
    }
  }
}

p {
  text-align: center;
  font-size: rem(19px);
  padding: 0 1rem;

  @media #{$medium-up} {
    font-size: rem(32px);
  }
}

.typeform-html {
  width: 100vw;
  height: 100vh;

  @media #{$medium-up} {
    width: 90%;
    height: 700px;
  }
}

.home-footer {
  @include flex-column();
  align-items: flex-end;
  margin-top: auto;
  padding: 1rem 0;
  font-size: rem(12px);

  @media #{$medium-up} {
    align-self: flex-end;
  }
}

:host(.apply-reviewee) {
  @include flex-column(center);
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(#1E455C, #25292D);
  position: relative;

  @media #{$medium-up} {
    @include flex-row();
    justify-content: center;
  }
}
