<div class="mr-3 mt-5 p-5 border-solid border-gray-500 border rounded-md bg-white" style="width:900px">
    <div>
        <div class="flex p-5 bg-gray-100">
            <div class="w-3/12 ml-5">
                <div class="text-sm text-gray-900">Total Revenue</div>  
                <div class="text-3xl text-gray-900"><i class="fas fa-won-sign">23,888,333</i></div>
            </div>
            <div class="border-r mx-10 mt-5"></div>
            <div class="w-3/12 mt-5">
                <div class="text-sm text-gray-700">Claim Completed</div>
                <div class="text-xl text-gray-700"><i class="fas fa-won-sign">1,000,000</i></div>
            </div>
            <div class="w-3/12 mt-5">
                <div class="text-sm text-gray-700">Claimble</div>
                <div class="text-xl text-gray-700"><i class="fas fa-won-sign">234,567</i></div>
            </div>
            <div class="w-3/12 mt-5">
                <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent w-32">Claim</button>
            </div>
        </div>
    </div>
    <div class="text-xs text-gray-600 text-right mt-5"><span class="text-red-500">*</span> You can request a payment from <i class="fas fa-won-sign">100,000</i> in cumulative revenue.</div>
    <mat-tab-group mat-align-tabs="center" class="mt10 mb10">
        <mat-tab label="Earning" class="mt10 mb10">
            <div class="flex pt-16">
                <div class="w-6/12 flex">
                    <div class="cal-btn flex py-1 px-3 w-2/6">
                        <div class="w-4/5 font-xs text-gray-700">2020-01-01</div>
                        <div class="w-1/5"><img src="/assets/icons/icn_calendar.svg"></div>
                    </div>
                    <div class="mx-2 mt-1">~</div>
                    <div class="cal-btn flex py-1 px-3 w-2/6">
                        <div class="w-4/5 font-xs text-gray-700">2020-12-31</div>
                        <div class="w-1/5"><img src="/assets/icons/icn_calendar.svg"></div>
                    </div>
                    <div class="text-gray-900 cal-btn font-bold py-1 px-3 ml-2">Search</div>
                </div>
                <div class="w-6/12"></div> 
            </div>
            <div class="text-right">Total<span class="text-blue-400 ml-1">123</span></div>  
            <!-- start-->
            <div class="table w-full px-8 py-4 mt-2 ">
                <div class="table-row-group ">
                  <div class="table-row bg-gray-100 font-bold text-gray-900 text-center ">
                    <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Division</div>
                    <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Date</div>
                    <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Review</div>
                    <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Rating</div>
                    <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Earn amount<span>(tax)</span></div>
                    <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Total amount</div>
                  </div>
                  <div class="table-row">
                    <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">Code-review</div>
                    <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">2020-11-22</div>
                    <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">They are best used for one-off questions rather than support for a whole project or ongoing support.</div>
                    <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
                    <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
                    <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
                  </div>  
                </div>
            </div>
            <!-- end -->
        </mat-tab>
        <mat-tab label="Claim" class="mt10 mb10"></mat-tab>
    </mat-tab-group>
    
</div>