<mat-tab-group [selectedIndex]="2"   mat-align-tabs="start" 
class="main-content
  written-review
  float-left  bg-gray-100
  float-right" >
  <mat-tab label="Public PR" >  
    <app-public-pr></app-public-pr>
  </mat-tab>
  <mat-tab label="Private PR">
    <app-private-pr></app-private-pr>
  </mat-tab>
  <mat-tab label="Payment">
    <app-payment></app-payment>
  </mat-tab>
  <mat-tab label="Activity">
    <div class="activity">
      <app-activity></app-activity>
    </div>  
  </mat-tab>
  <mat-tab label="My Profit">
    <app-myprofit></app-myprofit>
  </mat-tab>
</mat-tab-group>
