<form [formGroup]="formGroup"
      (ngSubmit)="onFormSubmit($event, formGroup.value)">
  <mat-form-field>
    <mat-label>이메일</mat-label>
    <input matInput
           type="text"
           formControlName="sampleInput"
           placeholder="이메일 주소 입력"
           required>
  </mat-form-field>

  <div class="form-actions">
    <button mat-flat-button
            color="primary"
            type="submit"
            class="form-action"
            [disabled]="!formGroup.valid">신청하기
    </button>
  </div>
</form>
