<div class="activity">
    <div style="width:900px; " >
      <!-- PRIVATE HEADER COMPONENT-->
      <div class="w-full h-32 mt-5 border-solid border-gray-500 border rounded-md bg-white ">
        <div class="grid grid-cols-2 gap-4 h-32">
          <div class="col-span-1 h-full ml-6 mt-5 mb-5">
            <div class="h-3 text-xs" style="font-size:12px;color:#6A737D;margin-bottom:6px;">Subscribe Product</div>
            <div class="h-8" style="font-size:32px;font-family: Ubuntu Mono;margin-bottom:25px">ON-DEMAND CODE-REVIEW</div>
            <!-- <div class="h-8" style="font-size:12px;color:#444A52">(2020-0421 ~ 2020-05-21) </div> -->
            <div class="h-3" style="font-size:12px"><a href="#" class="text-blue-500 underline">Change Product</a></div>
          </div>
          <div class="col-span-1 h-8 flex items-center justify-center h-full">
            <div style="width:80px;" class="mr-16">
              <div style="font-size:12px;color:#444A52">Limited(mon)</div>
              <span style="font-size:32px;color:#444A52;" class="mr-2">300</span><span style="font-size:12px" >line</span>
            </div>
            <div style="width:80px;" class="mr-16">
              <div style="font-size:12px;color:#444A52">Requested</div>
              <span style="font-size:32px;color:#6749BA" class="mr-2">132</span><span style="font-size:12px" >line</span>
            </div>
            <div style="width:80px;" class="mr-16">
              <div style="font-size:12px;color:#444A52">Remaining</div>
              <span style="font-size:32px;color:#6749BA" class="mr-2">168</span><span style="font-size:12px">line</span>
            </div>
            
          </div>
          
        </div>
      </div>
      

      <!-- RIGHT CARD COMPONENT -->
      <div class="w-full right-card float-left mr-3 mt-5 border-solid border-gray-500 border rounded-md" >
        <mat-card >
          <mat-card-subtitle class="mt10 mb10 pb10 h-3" >
            <div class="w-full ">
              <ul class="w-10/12 mx-auto mx-auto mt-10">
                <li style="width:13%"  class="float-left text-center text-xs">All 
                  <a href="#" class="text-blue-600 underline">
                  129 
                </a>
              </li>
              <li class="float-left text-center ">  
                |   
              </li>
                <li style="width:13%" class="float-left text-center text-xs">Matching
                  <a href="#" class="text-blue-600 underline">
                    1
                  </a>
                </li>
                <li style="width:13%" class="float-left text-center text-xs">Matched
                  <a href="#" class="text-blue-600 underline">
                    1
                  </a>
                </li >
                <li style="width:13%" class="float-left text-center text-xs">In Review
                  <a href="#" class="text-blue-600 underline">
                    1
                  </a>
                </li >
                <li style="width:13%" class="float-left text-center text-xs">Close
                    <a href="#" class="text-blue-600 underline">
                  126
                    </a>
                </li>
                <li style="width:13%" class="float-left text-center text-xs">Reopen
                  <a href="#" class="text-blue-600 underline">
                      3
                  </a>
                </li>
              </ul>                
            </div>
          </mat-card-subtitle >
          <mat-card-content class="mt-10">  
            <ul class="pull-request-list">
              <li class="pull-request-item" >
                <app-pull-request-summary ></app-pull-request-summary>
              </li>
            </ul>
            
            <!-- NAV COMPONENT -->
            <app-component-nav></app-component-nav>
          </mat-card-content>
        </mat-card>
  
      </div>
    </div> 
 </div>