<form [formGroup]="formGroup"
      (ngSubmit)="onFormSubmit($event, formGroup?.value)">
  <mat-checkbox formControlName="isOnlySelfPR">
    <span [innerHtml]="'pullRequests.pullRequestFilter.isOnlySelfPRs' | translate"></span>
  </mat-checkbox>
  <mat-form-field>
    <mat-label>
      <span [innerHTML]="'pullRequests.pullRequestFilter.status.label' | translate"></span>
    </mat-label>
    <mat-select formControlName="status">
      <mat-option value="All">
        <span>All</span>
      </mat-option>
      <mat-option *ngFor="let status of pullRequestStatuses" [value]="status">{{ status }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      <span [innerHTML]="'pullRequests.pullRequestFilter.language.label' | translate"></span>
    </mat-label>
    <mat-select formControlName="language">
      <mat-option value="All">
        <span>All</span>
      </mat-option>
      <mat-option *ngFor="let language of pullRequestLanguages" [value]="language">{{ language }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>
      <span [innerHTML]="'pullRequests.pullRequestFilter.framework.label' | translate"></span>
    </mat-label>
    <mat-select formControlName="framework">
      <mat-option value="All">
        <span>All</span>
      </mat-option>
      <mat-option *ngFor="let framework of pullRequestFrameworks" [value]="framework">{{ framework }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" formControlName="keyword" placeholder="{{ 'pullRequests.pullRequestFilter.search.label' | translate }}">
  </mat-form-field>
  <button mat-stroked-button type="submit" [disabled]="!formGroup?.valid">
    <span [innerHTML]="'pullRequests.pullRequestFilter.search.submit' | translate"></span>
  </button>
</form>
