@import "variables";

form {
  @include flex-column();
  width: 100%;

  @media #{$medium-up} {
    @include flex-row(center);
    justify-content: space-between;
  }

  ::ng-deep .mat-checkbox {
    margin-bottom: 1rem;

    @media #{$medium-up} {
      margin-bottom: 0;
    }
  }

  ::ng-deep .mat-form-field-wrapper {
    @media #{$medium-up} {
      padding-bottom: 0;
    }
  }

  ::ng-deep button.mat-stroked-button {
    @media #{$medium-up} {
      height: rem(51px);
    }
  }
}

:host(.pull-request-filter) {
  @include flex-column(center);
  width: 100%;
  max-width: rem(1090px);
  margin: 0 auto;
  padding: 1rem;
  background-color: #F7F7F7;
}
