@import 'treo';

form {
  @include flex-column();
  width: 100%;

  @media #{$medium-up} {
    @include flex-row(center);
    justify-content: space-between;
  }
}

:host(.pull-request-filter) {
  @include flex-column(center);
  width: 100%;
  max-width: rem(1090px);
  margin: 0 auto;
  padding: 1rem;
  background-color: #F7F7F7;
}
