<div class="content-layout fullwidth-standard-normal-scroll" style="word-break:keep-all; overflow-x: hidden;">
    <section *ngIf="true">
        <div data-aos="zoom-in">
            <div class="">
                <div class="text-xl md:text-4xl font-bold text-charcoal text-center mt-40 " >gitcode 코드리뷰! 이렇게 이용해보세요.</div>
            </div>
            <div class="flex justify-center" >
                <div class="font-medium text-lg text-gray-600 text-center py-16">
                    <div>좋은 소스코드를 위한 첫 걸음!</div>
                    <div class="" style="width:300px">gitcode에서는 개발자를 위한 다양한 코드리뷰 서비스를 제공합니다.</div>
                </div>
            </div>
        </div>
        <div class="mx-auto mt-32">
            <div class="static">
                <div class="Line-Absolute-Center mx-auto"></div>
<!--                        <img src="/assets/images/how-it-works-line1.svg">-->
                <!-- TODO: img make infinity line-->
            </div>
        </div>
    </section>
    <section *ngIf="true" class="">
        <div class="">
            <div  class="bg-no-repeat bg-center bg-cover bg01" style="background-image:url(/assets/images/how-it-works-bg1.svg);">
                <div data-aos="fade-left">
                    <div class="text-lg text-charcoal font-bold text-center pt-32">How to use gitcode</div>
                    <div class="flex pt-16 justify-center " >
                        <div class="hidden md:block"><img src="/assets/images/how-it-works-connection-github.svg" style="height: 170px;"></div>
                        <div class="md:ml-20 flex items-center">
                            <div class="">
                                <div class="flex">
                                    <img src="assets/icons/avatar-github.svg" class="mr-1" style="width: 29px"><div class="text-lg font-bold text-charcoal">Github 계정으로 간편하게 가입하세요.</div>
                                </div>
                                <div class="text-base text-charcoal pt-4 text-center animate__animated animate__bounce animate__faster ">회원가입에 복잡한 인증이나 가입 절차가 없습니다.<br>
                                    Github 계정을 연결해서 간편하게 가입하세요.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center justify-center mt-10 md:mt-32">
                    <div class="Line"></div>
                    <div class="ml-3 text-charcoal font-bold text-lg">01</div>
                </div>
            </div>
        </div>
    </section>
    <section *ngIf="true">
        <div class="mx-auto">
            <div data-aos="fade-right">
                <div>
                    <div class="text-xl text-charcoal font-bold text-center">여러 개발자의 다양한 의견을 받아보세요.</div>
                    <div class="text-center my-5 break-normal" style="word-break:keep-all">퍼블릭 코드리뷰는 오픈된 공간에서 소스코드를 공유하고<br class="md:block hidden">
                        의견을 나눌 수 있는 공간입니다. 지금 나의 소스를 공유하고 여러 개발자들의 다양한 의견과 노하우를 들어보세요.
                    </div>
                </div>
                <div class="mb-24 flex justify-center flex-wrap">
                    <button class="pr-button py-8 px-16">
                        <div class="flex">
                            <img src="/assets/icons/pr-public-icon.svg" >
                            <div class="ml-3 text-left">
                                <div class="text-indigo-700 font-bold text-lg">퍼블릭 코드리뷰</div>
                                <div class="text-xs text-gray-600">Public code review</div>
                            </div>
                        </div>
                        <div class="text-center text-sm text-charcoal">소스코드를 공개하여 여러 개발자의<br>
                            다양한 리뷰를 받을 수 있습니다.
                        </div>
                    </button>
                    <button class="pr-button py-8 px-12 ml-5" *ngIf="false">
                        <div class="flex">
                            <img src="/assets/icons/pr-private-icon.svg" >
                            <div class="ml-3 text-left">
                                <div class="text-indigo-700 font-bold text-lg">프라이빗 코드리뷰</div>
                                <div class="text-xs text-gray-600">Private code review</div>
                            </div>
                        </div>
                        <div class="text-center text-sm text-charcoal">일대일로 매칭된 전문가를 통해<br>
                            집중적인 리뷰를 받을 수 있습니다.
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section  *ngIf="true">
        <div class="mx-auto md:mt-32 mt-10">
            <div class="">
                <div class="bg-no-repeat bg-center bg-cover bg01" style="background-image:url(/assets/images/how-it-works-bg2.svg);">
                    <div class="">
                        <div class="Line2 mx-auto mb-20"></div>
                        <div class="ml-3 text-charcoal font-bold text-lg text-center pt-8 mr-2">02</div>
                    </div>
                    <div class="flex items-center justify-center mt-10 md:mt-0" data-aos="fade-left">
                        <div>
                            <div class="text-xl text-charcoal font-bold mb-5 text-center mx-5 md:mx-0">Branch를 선택하고 코드리뷰를 요청할 범위를 선택하세요.</div>
                            <div class="text-charcoal text-base mx-3 md:mx-0">선택한 브랜치의 전체 소스코드 또는 변경된 소스코드에 대한 부분만!<br class="hidden md:block">
                                코드리뷰가 필요한 범위에 대해서 선택할 수 있습니다.
                            </div>
                        </div>
                        <div class="pl-24 hidden md:block">
                            <img src="/assets/images/how-it-works-s02.svg" style="width: 374px">
                        </div>
                    </div>
                </div>

            </div>
        </div>
<!--        <div class="aos-init" data-aos="fade-up"-->
<!--             data-aos-anchor-placement="bottom-bottom">-->
<!--        </div>-->
    </section>
    <section *ngIf="true">
        <div class="mx-auto  mb-32">
            <div class="">
                <div >
                    <div class="md:pt-8">
                        <div class="Line2 mx-auto mb-20"></div>
                        <div class="ml-3 text-charcoal font-bold text-lg text-center pt-8 mr-2">03</div>
                    </div>
                    <div data-aos="fade-right">
                        <div class="text-base md:text-xl text-charcoal font-bold text-center mt-8">소스코드 저자에 대한 정보를 알려주세요.</div>
                        <div class="text-center my-5 mx-12 md:mx-0 text-sm">다른 개발자 또는 전문가가 리뷰를 진행하는데 도움이 됩니다.
                        </div>
                        <div class="flex mt-20 mb-16 justify-center">
                            <img src="/assets/icons/information-gitcode.svg" style="width:20px" class="mr-2">
                            <div>소스코드 저자의 기술 이해도(숙련도)는?</div>
                        </div>
                        <div class="md:flex justify-center w-8/12 mx-auto">
                            <div class="md:w-3/12">
                                <div class="flex w-32 md:w-auto md:justify-center ml-16 md:ml-0 items-center">
                                    <img src="/assets/icons/level-newbie.svg" style="width:43px" class="mr-2">
                                    <div class="font-medium text-sm text-black">Newbie</div>
                                </div>
                                <div class="text-sm text-charcoal text-center mt-4">이제 막 시작한 초보라 많은 조언이 필요해요.</div>
                            </div>
                            <div class="md:w-3/12 mt-5 md:mt-0">
                                <div class="flex w-32 md:w-auto md:justify-center ml-16 md:ml-0 items-center">
                                    <img src="/assets/icons/level-beginner.svg" style="width:43px" class="mr-2">
                                    <div class="font-medium text-sm text-black">Beginner</div>
                                </div>
                                <div class="text-sm text-charcoal text-center mt-4">경험은 있지만 아직 스터디가 필요해요.</div>
                            </div>
                            <div class="md:w-3/12 mt-5 md:mt-0">
                                <div class="flex w-32 md:w-auto md:justify-center ml-16 md:ml-0 items-center">
                                    <img src="/assets/icons/level-intermediate.svg" style="width:43px" class="mr-2">
                                    <div class="font-medium text-sm text-black">Intermediate</div>
                                </div>
                                <div class="text-sm text-charcoal text-center mt-4">익숙하지만 더 많은 노하우가 필요해요.</div>
                            </div>
                            <div class="md:w-3/12 mt-5 md:mt-0">
                                <div class="flex w-32 md:w-auto md:justify-center ml-16 md:ml-0 items-center">
                                    <img src="/assets/icons/level-expert.svg" style="width:43px" class="mr-2">
                                    <div class="font-medium text-sm text-black">Expert</div>
                                </div>
                                <div class="text-sm text-charcoal text-center mt-4">실력과 노하우를 겸비한 전문가입니다.</div>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </section>
    <section *ngIf="true">
        <div class="mx-auto md:mt-32 mt-12 mb-5">
            <div class="">
                <div >
                    <div class="bg-no-repeat bg-center bg-cover _bggray " >
                        <div>
                            <div class="-mt-10">
                                <div class="Line2 mx-auto mb-20"></div>
                                <div class="ml-3 text-charcoal font-bold text-lg text-center pt-8 mr-2">04</div>
                            </div>
                            <div data-aos="zoom-out-up">
                                <div class="md:text-xl text-base text-charcoal font-bold text-center mt-8">소스코드 정보와 코드리뷰의 목적을 알려주세요.</div>
                                <div class="md:text-sm text-center my-5 mx-8 md:mx-0">소스코드에 대한 설명과 코드리뷰의 목적<br class="block md:hidden">(학습, 검증 등)을 기술해 주세요.<br class="">
                                    저자님의 코드리뷰 목적에 맞춰 코드리뷰가 진행됩니다.
                                </div>
                            </div>
                        </div>
                        <div class="_bggray2 bg-no-repeat bg-center bg-cover pb-5 mx-auto">
                            <div class="mt-40">
                                <div class="Line2 mx-auto mb-20"></div>
                                <div class="ml-3 text-charcoal font-bold text-lg text-center pt-8 mr-2">05</div>
                            </div>
                            <div data-aos="zoom-out-up">
                                <div class="text-xl text-charcoal font-bold text-center mt-8">gitcode 코드리뷰 페이지를 확인하세요.</div>
                                <div class="text-center my-5">코드리뷰 요청이 완료되면 gitcode의 코드리뷰 메뉴에서 회원님의<br>
                                    코드리뷰 요청 내역을 확인할 수 있습니다.
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <section class="mt-32" *ngIf="true">
        <div class="md:mt-12 mt-64">
            <div class="Line2 mx-auto mb-20"></div>
            <div class="ml-3 text-charcoal font-bold text-lg text-center pt-8 mr-2">06</div>
        </div>
        <div class="flex-1 md:flex justify-center md:mt-20 mt-16" data-aos="fade-left">
            <div class="mb-16 md:mb-0 md:mr-24 mr-0 px-12 md:px-0 items-center justify-center">
                <img src="/assets/images/how-it-works-computer.svg" style="width:382px">
            </div>
            <div class="flex justify-center">
                <div>
                    <div class="text-center md:text-justify text-base md:text-xl text-charcoal font-bold">내 소스에 대해 어떤 의견이 달렸을까 궁금하시죠?</div>
                    <div class="mx-5 md:mx-0 my-5 text-center md:text-justify text-charcoal text-sm md:text-base">gitcode의 코드리뷰 메뉴에서 리뷰 내용을 확인할 수 있어요.<br>
                        여러 개발자들 또는 전문가가 남긴 리뷰 내용을 확인하고 대화를 나눠 보세요.
                    </div>
                    <div class="mx-5 md:mx-0 flex mb-5 mt-10 items-start">
                        <img src="/assets/icons/tip-icon.svg" style="width:20px" class="mt-1">
                        <div class="ml-2 text-sm text-gray-700">나의 소스에 대한 리뷰가 등록되면, gitcode 알림과 이메일로<br class="hidden md:block">
                            새로운 소식이 발송됩니다. </div>
                    </div>
                    <div class="mx-5 md:mx-0 flex items-start">
                        <img src="/assets/icons/tip-icon.svg" style="width:20px" class="mt-1">
                        <div class="ml-2 text-sm text-gray-700">Github 를 통해서 리뷰 의견을 남길 수 있습니다.<br class="hidden md:block">
                            그리고 이 내용은 gitcode 사이트를 통해서 확인할 수 있습니다.  </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-40">
        <div class="mt-40">
            <div class="Line2 mx-auto mb-20"></div>
            <div class="ml-3 text-charcoal font-bold text-lg text-center pt-8 mr-2">07</div>
        </div>
        <div data-aos="fade-right">
            <div class="text-xl text-charcoal font-bold text-center mt-8">코드리뷰가 도움이 되었나요? 리뷰에 대한 평가를 진행해주세요.</div>
            <div class="text-center my-5">의견을 남겨준 여러 개발자 중 베스트 리뷰어를 선정합니다.<br>
                리뷰에 대한 평가와 소감을 남겨주세요.
            </div>
            <div class="text-center mt-5">활발한 코드리뷰 문화 만들기에 함께하세요.</div>
        </div>
        <div class="-mt-64 ">
            <div class="bg-no-repeat bg-center flex justify-center" style="background-image:url(/assets/images/how-it-works-bg4.svg);height:900px;">
                <div class="flex justify-center" data-aos="fade-right">
                    <img src="/assets/images/how-it-works-laptop.svg" style="width:144px">
                </div>
            </div>
        </div>

        <div class="flex justify-center -mt-40">
            <div>
                <div class="mb-12 flex justify-center">
                    <img src="/assets/icons/plus-3times.svg" style="width:60px">
                </div>
                <div class="mb-10 text-center text-base font-medium text-charcoal">더 좋은 개발을 위한 gitcode의 서비스가 추가될 예정입니다.</div>
                <div class="md:flex justify-center mr-5 ml-5 md:ml-0 md:mr-5" >
                    <div class="bg-gray-200 py-12 md:px-16 " data-aos="fade-down" data-aos-easing="linear"
                         data-aos-duration="1000">
                        <div class="flex justify-center">
                            <div class="">
                                <div class="flex justify-center">
                                    <img src="/assets/icons/snack-code.svg" style="width:46px">
                                </div>
                                <div class="ml-2 font-bold text-xl text-charcoal my-5">스낵코드</div>
                            </div>
                        </div>
                        <div class="text-sm md:text-base text-charcoal text-center">
                            내게 딱 맞는 학습 컨텐츠를 제공하는 <br class="block md:hidden">
                            스낵코드가 곧 찾아옵니다!<br>
                            언어, 프레임워크, 데이터베이스 등 다양한 컨텐츠와 함께<br class="hidden md:block">
                            쉽고 간편하게 학습을 시작해보세요.
                        </div>
                    </div>
                    <div class="mt-5 md:mt-0 md:ml-5 bg-gray-200 py-12 px-4" data-aos="fade-down" data-aos-easing="linear"
                         data-aos-duration="15000">
                        <div class="">
                            <div class="ml-2 font-bold text-xl text-charcoal mb-5 text-center">검색 엔진</div>
                            <div class="flex justify-center my-5">
                                <img src="/assets/icons/search-engine.svg" style="width:491px" class="hidden md:block">
                                <img src="/assets/icons/search-engine-mobile.svg" style="width:491px" class="block md:hidden">
                            </div>

                        </div>
                        <div class="text-sm md:text-base text-charcoal text-center">지금 내게 필요한 코드 검색을 한번에!<br>
                            진짜 개발자들이 찾는 소스 검색 엔진 서비스가 오픈 예정입니다.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
