/* You can add global styles to this file, and also import other style files */


@import "reset";
@import "variables";
@import "utilities";
@import "dialog";
@import '~@angular/material/theming';
@import './styles/app-colors.scss';


body {
  color: mat-contrast($mat-secondary, 500);
  font-size: rem(14px);
}

.dark-theme {
  color: mat-color($mat-primary, A100);
}

.light-theme {
  color: mat-contrast($mat-primary, 500);
}

.hide {
  display: none !important;
  visibility: hidden;
  overflow: hidden;
}

p {
  font-size: rem(13px);
  line-height: 1.53846;
}

@keyframes spinner-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mat-flat-button:not(.dialog-action) {
  background: linear-gradient(180deg, #FAFBFC 0%, #EFF3F6 100%), #EFF3F6;
  box-sizing: border-box !important;
  border: 1px solid rgba(27, 31, 35, 0.2) !important;
  border-radius: 3px !important;

  &:hover {
    background: linear-gradient(to top, #FAFBFC 0%, #EFF3F6 100%), #EFF3F6;
  }

  &.mat-primary {
    background: linear-gradient(180deg, #34D058 0%, #28A745 100%), #28A745;
    border: 1px solid rgba(27, 31, 35, 0.2) !important;

    &:hover {
      background: linear-gradient(to top, #34D058 0%, #28A745 100%), #28A745;
    }
  }

  &.in-progress {
    pointer-events: none;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .5);
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      top: 20%;
      left: 35%;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border-width: 3px;
      border-style: solid;
      border-color: #fff transparent #fff transparent;
      animation: spinner-dual-ring 1.2s linear infinite;
      z-index: 3;
    }
  }
}

//.mat-radio-button,
//.mat-checkbox {
//  font-size: rem(12px);
//}
//
.mat-form-field.compact {
  &.mat-form-field-appearance-standard,
  &.mat-form-field-appearance-outline,
  &.mat-form-field-appearance-fill,
  &.mat-form-field-appearance-legacy {
    &.mat-form-field-can-float {
      &.mat-form-field-should-float {
        .mat-form-field-label {
          transform: translateY(-1em) scale(0.75);
        }
      }
    }

    .mat-form-field-infix {
      padding: 12px 0;
      border-top-width: 0;
      //line-height: 1;

      input {
        font-size: rem(14px);
      }
    }

    .mat-form-field-wrapper {
      .mat-form-field-subscript-wrapper {
        margin-top: 2em;
      }
    }
  }
}

.input-with-action {
  @include flex-row(center);

  .mat-form-field {
    flex: 1;

    .mat-form-field-wrapper {
      padding: 0;
      margin: 0;
    }
  }
}


// start rom lion , custom tailwind css 
.hover-shadow { // recode name , card-border
  border-radius: 0.25rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  &:hover{
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}

tar-rating{

}

.overflow-2line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

// end from lion , custom tailwind css 