
  <div class="close"> 
    <button (click)="closeDialog()">
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="#6A737D"/>
        </svg>
    </button> 
  </div>
  <h2><span class="mat-dialog-title">Request Claim</span></h2>  
<div class="claim-title">
  <span> <span class='circle'></span><span class="grayish">Claim Info.</span></span>
    <span class='line'> </span> 
  <span> <span class='circle'></span>Completed </span>
  </div>
<div class="container1">
  <div class="title">Your claim request has been successfully completed. </div>
  <div class="card">
  <div class="name"> Claim Amount </div>
  <div class="price"> ₩234,567 </div>
  <div class="name"> Bank </div>
  <div class="price"> Bank Name </div>
  <div class="name"> Bank Account Number  </div>
  <div class="price"> 123*******990 </div>
  <div class="name"> Account Holder Name </div>
  <div class="price"> Amira Hong </div>
</div>

<div class="instruction"> We'll deposite your requested amount.<br/>It may take up to 5 days to complete the deposit.</div>
</div>
<div class="button-center">
  <button class="button" (click)="closeDialog()">Confirm</button>  
</div>
