<nav role="navigation">
    <ul class="cd-pagination no-space animated-buttons custom-icons">
      <li class="button"><a href="#0" style="color: #CDD0D4;">Previous</a></li>
      <li style=""><a class="current" href="#0">1</a></li>
      <li style=""><a href="#0">2</a></li>
      <li style=""><a href="#0">3</a></li>
      <li style="color: #CDD0D4;"><span>...</span></li>
      <li style=""><a href="#0">8</a></li>
      <li style=""><a href="#0">9</a></li>
      <li style=""><a href="#0">10</a></li>
      <li class="button"><a href="#0"><i>Next</i></a></li>
    </ul>
  </nav>