@import 'treo';

.hero {
  @include flex-center();
  height: rem(138px);
  background-color: #444A52;
  color: white;

  @media #{$medium-up} {
    height: rem(240px);
  }

  .page-title {
    margin: 0;
    font-size: rem(64px);
  }
}

.section-title {
  position: relative;
  font-size: rem(20px);
  font-weight: 700;
  padding-left: 2.5rem;
  margin: 1rem auto;
  width: 100%;
  max-width: rem(1090px);

  &::before {
    content: '';
    width: rem(58px);
    height: rem(74px);
    display: block;
    position: absolute;
    top: -.35rem;
    left: -2rem;
    background: url("/assets/images/curved-branch.svg") no-repeat;
    background-size: contain;
  }
}

app-pull-request-filter.pull-request-filter {
  margin-bottom: 1rem;
}

ul.pull-request-list {
  margin: 0 0 1rem 0;
  padding: 0;
  list-style-type: none;

  li.pull-request-item {
    &:not(:last-of-type) {
      @media #{$medium-up} {
        margin-bottom: 1rem;
      }
    }
  }
}

:host(.pull-requests) {
  @include flex-column();
  width: 100%;
  min-height: calc(100vh - 56px - 79px);
  //background-image: linear-gradient(#1E455C, #25292D);
  background-color: $background;
  position: relative;

  @media #{$medium-up} {
    min-width: rem(900px);
    min-height: calc(100vh - 64px - 79px);
  }

  &.light-theme {
    background-color: white;
  }
}
