@import "variables";

.title {
  grid-area: title;
  font-size: em(20px);
}

.status {
  grid-area: status;
  font-size: em(12px);
  @include flex-row(center);
}

.privacy {
  grid-area: privacy;
  font-size: em(12px);
  @include flex-row(center);
}

.author {
  grid-area: author;
  font-size: em(14px);
}

.reviewer {
  grid-area: reviewer;
  font-size: em(14px);
}

.person {
  .person-title {
    font-size: 0.85714em;
    color: $color-coral;
    margin-bottom: .5rem;
  }

  .person-content {
    @include flex-row(center);
  }

  img {
    width: rem(30px);
    height: rem(30px);
    object-fit: contain;
  }
}

.reviewer-rating {
  grid-area: reviewer-rating;

  @media #{$medium-up} {
    @include flex-center();
    justify-content: flex-end;
    padding-bottom: .25rem;
  }

  ::ng-deep .rating {
    justify-content: flex-start;

    .star-container {
      margin: 0;

      .star {
        width: rem(25px);
        height: rem(25px);

        &:not(:last-of-type) {
          margin-right: .25rem;
        }
      }
    }
  }

  .rating-title {
    font-size: em(12px);
    margin: .5rem 0 .25rem;

    @media #{$medium-up} {
      margin: 0 0 .5rem 0;
    }
  }
}

.status {
  @include flex-row(center);

  &.opened {
    grid-area: status-opened;

    .text {
      background-color: #E9F0FD;
    }
  }

  &.closed {
    grid-area: status-closed;

    .text {
      background-color: #FFFBE0;
    }
  }

  .text {
    @include flex-center();
    color: #0E305E;
    width: rem(65px);
    height: rem(20px);
    margin-right: .5rem;
  }
}

img {
  &.icon {
    margin-right: .5rem;
  }
}

.summary {
  display: grid;
  grid-template-areas: "status privacy" "title title" "author reviewer" "reviewer-rating reviewer-rating" "status-opened status-opened" "status-closed status-closed";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: .5rem;
  width: 100%;
  max-width: rem(1090px);
  background: #FFFFFF;
  padding: 1rem;
  border-bottom: solid thin $color-gray-light;

  @media #{$medium-up} {
    grid-template-areas: "status status status status status reviewer-rating" "privacy title title author reviewer reviewer-rating" "privacy status-opened status-closed author reviewer reviewer-rating";
    grid-template-columns: 1.65rem 1.5fr 1.5fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    border-bottom: none;
    transition: box-shadow .3s ease;

    &:hover {
      box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }
}

:host(.pull-request-summary) {
  @include flex-column(center);
  font-size: 1rem;
}
