<div class="w-full mb-5 py-3 px-3 rounded-md hover-shadow " >
  <div class="flex items-center pt-2 pb-2 pl-2">
    <div class="w-8/12">
      <div class="flex mb-2 mt-2">
        <img class="icon" src="/assets/images/pr-open.svg">
        <div class="text-xs text-gray-600 h-5">Open</div>
      </div>
      <div class="text-sm">network: DHCPv6 client add support for prefix delegation</div>
      <div class="w-full flex text-xs mt-2">
        <div class="bg-indigo-100 text-gray-900 text-center w-16 mr-3 py-1">Open</div>
        <div class="text-gray-600 py-1">2019-01-01 00:00:00 (KST)</div>
      </div>
    </div>
    <div class="w-2/12">
      <div class="person-title text-xs font-normal leading-3 text-orange-500">Reviewer</div>
      <div class="person-content flex text-justify items-center mt-2">
        <img class="person-avatar icon rounded mr-2 " src="/assets/images/github-avatar.svg" style="width: 30px;">
        <div class="text-sm leading-4 text-gray-600 " >Chowin21</div>
      </div>
    </div>
    <div class="w-2/12 text-center text-xs">
      <div class="rating-title mb-3 text-gray-600">Rating</div>
      <div class="rating-value">
        <button mat-stroked-button>Rate now</button>
      </div>
    </div>
  </div>
</div>

<div class="summary mb-5" >
<!-- (click)="goToPR($event)"> -->
  <div class="title">Check my beautiful code</div>
  <div class="status">
    <div class="status-icon">
      <img class="icon" src="/assets/images/pr-open.svg">

           <!-- [alt]="pullRequest?.status"
           (error)="imageService.handleImageLoadError($event)"
           *ngIf="pullRequest?.status?.toLowerCase().trim() === 'open'">
      <img class="icon" src="/assets/images/pr-in-review.svg"
           [alt]="pullRequest?.status"
           (error)="imageService.handleImageLoadError($event)"
           *ngIf="pullRequest?.status?.toLowerCase().trim() === 'in review'">
      <img class="icon" src="/assets/images/pr-closed.svg"
           [alt]="pullRequest?.status"
           (error)="imageService.handleImageLoadError($event)"
           *ngIf="pullRequest?.status?.toLowerCase().trim() === 'closed'">

      <img class="icon" src="/assets/images/pr-reopen.svg"
           [alt]="pullRequest?.status"
           (error)="imageService.handleImageLoadError($event)"
           *ngIf="pullRequest?.status?.toLowerCase().trim() === 'reopen'"> -->
    </div>
    <div class="status-text">Matching</div>
  </div>
  <div class="privacy">
    <div class="privacy-icon"></div>
    <div class="privacy-text"></div>
  </div>
  <div class="person reviewer">
    <div class="person-title">Reviewer</div>
    <div class="person-content">
      <img class="person-avatar icon rounded"
          src="/assets/images/github-avatar.svg" style="margin-right:-0.8rem;">
           <!-- [src]="pullRequest.reviewerAvatar"
           [alt]="pullRequest.reviewerId"
           (error)="imageService.handleImageLoadError($event, '/assets/images/github-avatar.svg')"> -->
      <!-- <div class="person-id">{{ pullRequest.reviewerId || '-' }}</div> -->
      <img class="person-avatar icon rounded" style="margin-right:-0.8rem;"
          src="/assets/images/github-avatar.svg">
          <img class="person-avatar icon rounded" style="margin-right:-0.8rem;" src="/assets/images/github-avatar.svg">
          <img class="person-avatar icon rounded" style="margin-right:-0.8rem;" src="/assets/images/github-avatar.svg">

      <!-- <div class="person-id">Spock</div> -->
      <img src ="/assets/images/reviewer-many.svg" style="height:0.75rem;width:0.75rem;margin-left: 20px;">
      <div style="font-size:12px ; color:#E6712F; line-height:13px;">+32</div>
    </div>
  </div>
  <div class="reviewer-rating">
    <div class="rating-title">Rating</div>
    <div class="rating-value">
      <button mat-stroked-button>
              <!-- type="button"  
              *ngIf="pullRequest.status === 'Closed' && !pullRequest.reviewerRating"
              (click)="openRatingDialog($event)">
               -->
              Rate now</button>
      <!-- <star-rating [starType]="'svg'"
                   size="medium"
                   [readOnly]="true"
                   *ngIf="pullRequest.status !== 'Closed' || (pullRequest.status === 'Closed' && !!pullRequest.reviewerRating)"
                   [rating]="pullRequest.reviewerRating || 0"></star-rating> -->
    </div>
  </div>
  <div class="status opened">
    <div class="text">open</div>
    <!-- <div class="time">{{ pullRequest.createdAt.seconds | amFromUnix | amLocal | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</div> -->
    <div class="time">2019-10-22 19:59:01</div>
  </div>
  <div class="status closed" >
    <div class="text">closed</div>
    <!-- <div class="time">{{ pullRequest.updatedAt.seconds | amFromUnix | amLocal | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</div> -->
    <div class="time">2019-10-22 19:59:01</div>
  </div>
</div>
<div class="summary mb-5" >
  <!-- (click)="goToPR($event)"> -->
    <div class="title">Check my beauty code</div>
    <div class="status">
      <div class="status-icon">
        <img class="icon" src="/assets/images/pr-open.svg">
  
             <!-- [alt]="pullRequest?.status"
             (error)="imageService.handleImageLoadError($event)"
             *ngIf="pullRequest?.status?.toLowerCase().trim() === 'open'">
        <img class="icon" src="/assets/images/pr-in-review.svg"
             [alt]="pullRequest?.status"
             (error)="imageService.handleImageLoadError($event)"
             *ngIf="pullRequest?.status?.toLowerCase().trim() === 'in review'">
        <img class="icon" src="/assets/images/pr-closed.svg"
             [alt]="pullRequest?.status"
             (error)="imageService.handleImageLoadError($event)"
             *ngIf="pullRequest?.status?.toLowerCase().trim() === 'closed'">
  
        <img class="icon" src="/assets/images/pr-reopen.svg"
             [alt]="pullRequest?.status"
             (error)="imageService.handleImageLoadError($event)"
             *ngIf="pullRequest?.status?.toLowerCase().trim() === 'reopen'"> -->
      </div>
      <div class="status-text">Matching</div>
    </div>
    <div class="privacy">
      <div class="privacy-icon"></div>
      <div class="privacy-text"></div>
    </div>
    
    <div class="person reviewer">
      <div class="person-title">Reviewer</div>
      <div class="person-content">
        <img class="person-avatar icon"
            src="/assets/images/github-avatar.svg">
             <!-- [src]="pullRequest.reviewerAvatar"
             [alt]="pullRequest.reviewerId"
             (error)="imageService.handleImageLoadError($event, '/assets/images/github-avatar.svg')"> -->
        <!-- <div class="person-id">{{ pullRequest.reviewerId || '-' }}</div> -->
        <div class="person-id">Spock</div>
      </div>
    </div>
    <div class="reviewer-rating">
      <div class="rating-title">Rating</div>
      <div class="rating-value">
        <button mat-stroked-button>
                <!-- type="button"  
                *ngIf="pullRequest.status === 'Closed' && !pullRequest.reviewerRating"
                (click)="openRatingDialog($event)">
                 -->
                Rate now</button>
        
      </div>
    </div>
    <div class="status opened">
      <div class="text">open</div>
      <!-- <div class="time">{{ pullRequest.createdAt.seconds | amFromUnix | amLocal | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</div> -->
      <div class="time">2019-10-22 19:59:01</div>
    </div>
    <div class="status closed" >
      <div class="text">closed</div>
      <!-- <div class="time">{{ pullRequest.updatedAt.seconds | amFromUnix | amLocal | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</div> -->
      <div class="time">2019-10-22 19:59:01</div>
    </div>
</div>

<div class="summary mb-5" >
  <!-- (click)="goToPR($event)"> -->
    <div class="title">Check my beauty code</div>
    <div class="status">
      <div class="status-icon">
        <img class="icon" src="/assets/images/pr-open.svg">
  
              <!-- [alt]="pullRequest?.status"
              (error)="imageService.handleImageLoadError($event)"
              *ngIf="pullRequest?.status?.toLowerCase().trim() === 'open'">
        <img class="icon" src="/assets/images/pr-in-review.svg"
              [alt]="pullRequest?.status"
              (error)="imageService.handleImageLoadError($event)"
              *ngIf="pullRequest?.status?.toLowerCase().trim() === 'in review'">
        <img class="icon" src="/assets/images/pr-closed.svg"
              [alt]="pullRequest?.status"
              (error)="imageService.handleImageLoadError($event)"
              *ngIf="pullRequest?.status?.toLowerCase().trim() === 'closed'">
  
        <img class="icon" src="/assets/images/pr-reopen.svg"
              [alt]="pullRequest?.status"
              (error)="imageService.handleImageLoadError($event)"
              *ngIf="pullRequest?.status?.toLowerCase().trim() === 'reopen'"> -->
      </div>
      <div class="status-text">Matching</div>
    </div>
    <div class="privacy">
      <div class="privacy-icon"></div>
      <div class="privacy-text"></div>
    </div> 
    
    <div class="person reviewer">
      <div class="person-title">Reviewer</div>
      <div class="person-content">
        <img class="person-avatar icon"
            src="/assets/images/github-avatar.svg">
              <!-- [src]="pullRequest.reviewerAvatar"
              [alt]="pullRequest.reviewerId"
              (error)="imageService.handleImageLoadError($event, '/assets/images/github-avatar.svg')"> -->
        <!-- <div class="person-id">{{ pullRequest.reviewerId || '-' }}</div> -->
        <div class="person-id">Spock</div>
      </div>
    </div>
    <div class="reviewer-rating">
      <div class="rating-title">Rating</div>
      <div class="rating-value">
        <!-- <button mat-stroked-button> -->
                <!-- type="button"  
                *ngIf="pullRequest.status === 'Closed' && !pullRequest.reviewerRating"
                (click)="openRatingDialog($event)">
                  -->
                <!-- Rate now</button> -->
        <!-- <star-rating [starType]="'svg'"
                      size="medium"
                      [readOnly]="true"
                      *ngIf="pullRequest.status !== 'Closed' || (pullRequest.status === 'Closed' && !!pullRequest.reviewerRating)"
                      [rating]="pullRequest.reviewerRating || 0"></star-rating> -->
        <star-rating [starType]="'svg'"
        size="medium"
        [rating]="0"> </star-rating>         
      </div>
    </div>
    <div class="status opened">
      <div class="text">open</div>
      <!-- <div class="time">{{ pullRequest.createdAt.seconds | amFromUnix | amLocal | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</div> -->
      <div class="time">2019-10-22 19:59:01</div>
    </div>
    <div class="status closed" >
      <div class="text">closed</div>
      <!-- <div class="time">{{ pullRequest.updatedAt.seconds | amFromUnix | amLocal | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</div> -->
      <div class="time">2019-10-22 19:59:01</div>
    </div>
</div>

  

