@import "variables";
@import "../../styles/app-colors";

:host(.mystique-page) {
  @include flex-column();
  width: 100%;
  min-width: rem(900px);
  min-height: 100vh;
  //background-image: linear-gradient(#1E455C, #25292D);
  background-color: $color-admin-background;
  position: relative;

  &.light-theme {
    background-color: white;
  }
}
