<div class="hero">
  <h1 class="page-title">Written Review</h1>
</div>

<section>
  <mat-tab-group mat-align-tabs="right" class="written-review"  [selectedIndex]="3">
    <mat-tab label="Public PR">
      Public PR
    </mat-tab>

    <mat-tab label="Private PR">
      Private PR
    </mat-tab>

    <mat-tab label="Payment">
      Payment
    </mat-tab>

    <mat-tab label="Activity">
      <div class="activity">
        <div class="w25 mr2p">
          <mat-card class="left-card">
            <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="avtar-img">
            <mat-card-content>
              <p><b>Iamapple</b></p>
              <p>Enter your email address.</p>
              <p>Enter your phone number.</p>
              <a>
                <mat-icon aria-hidden="false">settings_applications</mat-icon>
              </a>

              <table align="center" width="60%">
                <tr>
                  <td align="left"><b>PR</b></td>
                  <td align="right">127</td>
                </tr>
                <tr>
                  <td align="left"><b>Review</b></td>
                  <td align="right">79</td>
                </tr>
                <tr>
                  <td align="left"><b>Contents</b></td>
                  <td align="right">139</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email address" value="">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone Number" value="">
            </mat-form-field>
            <button mat-raised-button>Save</button>
          </form>
        </div>

        <div class="w73 right-card">
          <mat-card>
            <mat-card-content>
              <mat-card class="bg-light-gray mt10 mb10">
                <mat-card-content class="mt10 mb10">
                  <mat-grid-list cols="5" rowHeight="60px">
                    <mat-grid-tile [colspan]="1">
                      <table align="left" width="100%" class="beforeborder">
                        <tr>
                          <td><b>My Rating 3.0</b></td>
                        </tr>
                        <tr>
                          <td align="left">
                            <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3"></star-rating>
                          </td>
                        </tr>
                      </table>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                      <table align="left" width="100%">
                        <tr>
                          <td>Private PR</td>
                          <td>
                            <star-rating class="score" [starType]="'svg'" size="medium" [rating]="0"></star-rating>
                          </td>
                        </tr>
                        <tr>
                          <td>Public PR </td>
                          <td>
                            <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3"></star-rating>
                          </td>
                        </tr>
                      </table>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2">
                      <table width="100%">
                        <tr>
                          <td align="center">Written rate</td>
                          <td align="center">Receive rate</td>
                        </tr>
                        <tr>
                          <td align="center">
                            <font size="5"><b>21</b></font>
                          </td>
                          <td align="center">
                            <font size="5"><b>7</b></font>
                          </td>
                        </tr>
                      </table>
                    </mat-grid-tile>
                  </mat-grid-list>
                </mat-card-content>
              </mat-card>

              <mat-tab-group mat-align-tabs="center" class="mt10 mb10">
                <mat-tab label="Written rate" class="mt10 mb10">
                  <mat-card class="mt10 mb10 pb10">
                    <mat-card-content>
                      <mat-grid-list cols="5" rowHeight="80px">
                        <mat-grid-tile [colspan]="2">
                          <table width="100%">
                            <tr>
                              <td class="font-color-yellow font-size-12">Reviewer</td>
                            </tr>
                            <tr>
                              <td>
                                <table>
                                  <tr>
                                    <td>
                                      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        class="user-img">
                                    </td>
                                    <td>
                                      Username
                                    </td>
                                    <td>
                                      <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                                      </star-rating>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="3">
                          <table width="100%">
                            <tr>
                              <td class="font-color-yellow font-size-12">Request</td>
                            </tr>
                            <tr>
                              <td>
                                <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                                  <br />prefixnetwork: DHCPv6 client add support for...</a>
                              </td>
                            </tr>
                          </table>
                        </mat-grid-tile>
                      </mat-grid-list>
                      <table width="100%">
                        <tr>
                          <td colspan="2">
                            <mat-divider></mat-divider>
                          </td>
                        </tr>
                        <tr class="height90">
                          <td colspan="2" align="center" class="font-size-12 font-color-lightgray">There are no
                            registered comments.</td>
                        </tr>
                      </table>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="mt10 mb10 pb10">
                    <mat-card-content>
                      <mat-grid-list cols="5" rowHeight="80px">
                        <mat-grid-tile [colspan]="2">
                          <table width="100%">
                            <tr>
                              <td class="font-color-yellow font-size-12">Reviewer</td>
                            </tr>
                            <tr>
                              <td>
                                <table>
                                  <tr>
                                    <td>
                                      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        class="user-img">
                                    </td>
                                    <td>
                                      Username
                                    </td>
                                    <td>
                                      <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                                      </star-rating>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="3">
                          <table width="100%">
                            <tr>
                              <td class="font-color-yellow font-size-12">Request</td>
                            </tr>
                            <tr>
                              <td>
                                <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                                  <br />prefixnetwork: DHCPv6 client add support for...</a>
                              </td>
                            </tr>
                          </table>
                        </mat-grid-tile>
                      </mat-grid-list>
                      <table width="100%">
                        <tr>
                          <td colspan="2">
                            <mat-divider></mat-divider>
                          </td>
                        </tr>
                        <tr class="height90">
                          <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                        </tr>
                      </table>
                    </mat-card-content>
                  </mat-card>

                  <mat-card class="mt10 mb10 pb10">
                    <mat-card-content>
                      <mat-grid-list cols="5" rowHeight="80px">
                        <mat-grid-tile [colspan]="2">
                          <table width="100%">
                            <tr>
                              <td class="font-color-yellow font-size-12">Reviewer</td>
                            </tr>
                            <tr>
                              <td>
                                <table>
                                  <tr>
                                    <td>
                                      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        class="user-img">
                                    </td>
                                    <td>
                                      Username
                                    </td>
                                    <td>
                                      <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                                      </star-rating>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="3">
                          <table width="100%">
                            <tr>
                              <td class="font-color-yellow font-size-12">Request</td>
                            </tr>
                            <tr>
                              <td>
                                <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                                  <br />prefixnetwork: DHCPv6 client add support for...</a>
                              </td>
                            </tr>
                          </table>
                        </mat-grid-tile>
                      </mat-grid-list>
                      <table width="100%">
                        <tr>
                          <td colspan="2">
                            <mat-divider></mat-divider>
                          </td>
                        </tr>
                        <tr class="height90">
                          <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                        </tr>
                      </table>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="mt10 mb10 pb10">
                    <mat-card-content>
                      <mat-grid-list cols="5" rowHeight="80px">
                        <mat-grid-tile [colspan]="2">
                          <table width="100%">
                            <tr>
                              <td class="font-color-yellow font-size-12">Reviewer</td>
                            </tr>
                            <tr>
                              <td>
                                <table>
                                  <tr>
                                    <td>
                                      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        class="user-img">
                                    </td>
                                    <td>
                                      Username
                                    </td>
                                    <td>
                                      <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                                      </star-rating>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="3">
                          <table width="100%">
                            <tr>
                              <td class="font-color-yellow font-size-12">Request</td>
                            </tr>
                            <tr>
                              <td>
                                <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                                  <br />prefixnetwork: DHCPv6 client add support for...</a>
                              </td>
                            </tr>
                          </table>
                        </mat-grid-tile>
                      </mat-grid-list>
                      <table width="100%">
                        <tr>
                          <td colspan="2">
                            <mat-divider></mat-divider>
                          </td>
                        </tr>
                        <tr class="height90">
                          <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                        </tr>
                      </table>
                    </mat-card-content>
                  </mat-card>
                  <mat-card class="mt10 mb10 pb10">
                    <mat-card-content>
                      <mat-grid-list cols="5" rowHeight="80px">
                        <mat-grid-tile [colspan]="2">
                          <table width="100%">
                            <tr>
                              <td class="font-color-yellow font-size-12">Reviewer</td>
                            </tr>
                            <tr>
                              <td>
                                <table>
                                  <tr>
                                    <td>
                                      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                        class="user-img">
                                    </td>
                                    <td>
                                      Username
                                    </td>
                                    <td>
                                      <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                                      </star-rating>
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="3">
                          <table width="100%">
                            <tr>
                              <td class="font-color-yellow font-size-12">Request</td>
                            </tr>
                            <tr>
                              <td>
                                <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                                  <br />prefixnetwork: DHCPv6 client add support for...</a>
                              </td>
                            </tr>
                          </table>
                        </mat-grid-tile>
                      </mat-grid-list>
                      <table width="100%">
                        <tr>
                          <td colspan="2">
                            <mat-divider></mat-divider>
                          </td>
                        </tr>
                        <tr class="height90">
                          <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                            aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                        </tr>
                      </table>
                    </mat-card-content>
                  </mat-card>

                  <nav role="navigation">
                    <ul class="cd-pagination no-space animated-buttons custom-icons">
                      <li class="button"><a href="#0"><i>Previous</i></a></li>
                      <li><a class="current" href="#0">1</a></li>
                      <li><a href="#0">2</a></li>
                      <li><a href="#0">3</a></li>
                      <li><span>...</span></li>
                      <li><a href="#0">8</a></li>
                      <li><a href="#0">9</a></li>
                      <li><a href="#0">10</a></li>
                      <li class="button"><a href="#0"><i>Next</i></a></li>
                    </ul>
                  </nav>

                </mat-tab>
                <mat-tab label="Receive rate">
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </mat-tab>

    <mat-tab label="My Profit">
      My Profit
    </mat-tab>

  </mat-tab-group>
</section>
