<!-- -<div class="markdown-body">-->
<!--    <markdown [src]="contentPath" lineNumbers [start]="5">-->
<!--        &lt;!&ndash;        here is markdown &ndash;&gt;-->
<!--    </markdown>-->
<!--</div>-->

<div class="pl-16 pt-5">
    <div class="text-lg font-medium text-charcoal mb-2">How to use angular.</div>
    <div class="flex my-5">
        <div class="flex justify-between items-center bg-indigo-100 rounded-full border text-xs pr-2 pl-4 mr-2">
            <div class="pr-2">Category1</div>

        </div>
        <div class="flex justify-between items-center bg-indigo-100 rounded-full border text-xs pr-2 pl-4 mr-2">
            <div class="pr-2">Category1</div>

        </div>
        <div class="flex justify-between items-center bg-indigo-100 rounded-full border text-xs pr-2 pl-4 mr-2">
            <div class="pr-2">Category1</div>

        </div>
        <div class="flex justify-between items-center  bg-indigo-100 rounded-full border text-xs pr-2 pl-4 mr-2">
            <div class="pr-2">Category1</div>

        </div>
        <div class="flex justify-between items-center  bg-indigo-100 rounded-full border text-xs pr-2 pl-4 mr-2">
            <div class="pr-2">Category1</div>

        </div>
    </div>
</div>
<div class="border-b"></div>
<div class="pl-16">
    <div class="py-5 pl-5">
    Thank you for who paying attention and read my question.<br>
    I am a new to Angular and Typescript language. Currently I am able to scroll the division using button control, and I wish to scroll the division using mouse wheel too.<br>
    I have try some code, as example:<br>
    </div>
    <div class="max-w-2xl overflow-hidden bg-gray-200 border border-solid rounded ml-20 my-5">
        <div class="overflow-x-auto p-4 whitespace-no-wrap">
            code here code here code here code here code here code here code here code here code here code here code here code here code here code here code here code here code here code here code here code here
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
            code here<br>
        </div>
    </div>
    <div class="py-5 pl-5">
        Thank you for who paying attention and read my question.<br>
        I am a new to Angular and Typescript language. Currently I am able to scroll the division using button control, and I wish to scroll the division using mouse wheel too.<br>
        I have try some code, as example:<br>
    </div>
</div>
<div class="border-b mt-5"></div>
<div class="pl-16 flex my-2 ">
    <button class="mr-3">
        <div class="flex">
            <div class="rounded-l border-r border-t border-b border-l btn-gray-left border-gray-400 bg-gray-400 flex items-center px-2 ">
                <img class="w-6 my-1 mr-2" src="/assets/icons/vote-laugh.svg">
                <span>Love it</span>
            </div>
            <div class="rounded-r rounded-l-none border-l-0 border-r border-t border-b border-gray-400  text-gray-700 text-sm flex items-center">
                <span class="px-2">888</span>
            </div>
        </div>
    </button>
    <button class="mr-3">
        <div class="flex">
            <div class="rounded-l border-r border-t border-b border-l btn-gray-left border-gray-400 bg-gray-400 flex items-center px-2 ">
                <img class="w-6 my-1 mr-2" src="/assets/icons/vote-confused.svg">
                <span>Confused</span>
            </div>
            <div class="rounded-r rounded-l-none border-l-0 border-r border-t border-b border-gray-400  text-gray-700 text-sm flex items-center">
                <span class="px-2">888</span>
            </div>
        </div>
    </button>
</div>
<div class="pl-16 bg-gray-200 border-t border-b border-gray-400 h-12 font-base font-bold text-gray-600 flex">
    <div class="self-center">
        <span class="mr-3">Comments</span> <span class="text-gray-700">1,299</span>
    </div>
</div>
<div>
    <div class="pr-20">
        <div>
            <div class="flex ml-16 mt-5">
                <div>
                    <img class="w-8 mr-5" src="/assets/icons/avatar-a.svg">
                </div>
                    <div class="container border">코멘트를 입력하세요.
                </div>
            </div>
            <div class="flex justify-end">
                <button class="btn-green  font-sm font-bold mt-3 py-1 px-2">Comment</button>
            </div>
        </div>
        <div>
            <div class="flex ml-16 mt-5">
                <div class="">
                    <img class="w-8 mr-5" src="/assets/icons/avatar-a.svg">
                </div>
                <div class="ml-4">
                    <div class="container border-t border-r border-l border-gray-400 bg-indigo-100 flex items-center">
                        <div class="font-bold text-sm text-charcoal pr-2 ml-3 py-2">Username</div>
                        <span class="text-xs text-gray-600">commented 1hour ago</span>
                    </div>
                    <div class="border border-gray-400 px-3 py-5 text-sm text-charcoal">By default Tailwind only provides 0 and auto top/right/bottom/left/inset utilities. You can change, add, or remove these by editing the theme.inset section of your tailwind.config.js file.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="border-b mt-10"></div>
<div class="flex justify-end mt-5">
    <button class="rounded border-gray-400 border text-sm text-charcoal py-1 px-3">목록</button>
</div>
<div class="ml-16">
    <div>
        <div class="font-bold text-sm text-charcoal pb-5">관련 스낵코드</div>
        <div class="rounded border border-gray-300 text-sm text-charcoal py-3 px-2 mb-3">Utilities for controlling the placement of positioned elements.</div>
        <div class="rounded border border-gray-300 text-sm text-charcoal py-3 px-2 mb-3">Utilities for controlling the placement of positioned elements.</div>
        <div class="rounded border border-gray-300 text-sm text-charcoal py-3 px-2 mb-3">Utilities for controlling the placement of positioned elements.</div>
        <div class="rounded border border-gray-300 text-sm text-charcoal py-3 px-2 mb-3">Utilities for controlling the placement of positioned elements.</div>
        <div class="rounded border border-gray-300 text-sm text-charcoal py-3 px-2 mb-3">Utilities for controlling the placement of positioned elements.</div>
    </div>
    <div class="mt-10 mb-32">
        <div class="font-bold text-sm text-charcoal pb-5">관련 스낵코드</div>
        <div class="flex ">
            <div class="rounded border border-gray-300 bg-gray-100 max-w-sm mr-3">
                <div class="px-5 py-6">
                    <div class="text-sm text-charcoal  mb-6 overflow-2line h-10">Combined with Tailwind's padding and margin utilities, you'll probably find that these are all you need to precisely control absolutely positioned elements.</div>
                    <button><img src="/assets/icons/code-review-open.svg"></button>
                </div>
            </div>
            <div class="rounded border border-gray-300 bg-gray-100 max-w-sm">
                <div class="px-5 py-6">
                    <div class="text-sm text-charcoal  mb-6 overflow-2line h-10">Combined with Tailwind's padding and margin utilities, you'll probably find that these are all you need to precisely control absolutely positioned elements.</div>
                    <button><img src="/assets/icons/code-review-open.svg"></button>
                </div>
            </div>
        </div>
    </div>

</div>