<div class="content-layout fullwidth-standard-normal-scroll " *ngIf="true">
    <div class="main-bg flex justify-center" style="background:url(http://172.30.1.29:7100/assets/images/main-background.jpg)">
        <div class="relative">
            <div class="max-w-5xl relative top-0 md:mt-20 md:pb-48 ">
                <img src="/assets/images/main-border.png" class="hidden md:block  main-border-position">
            </div>
            <div class="border-6 border-solid md:pt-48 md:pl-10 md:pr-10 md:pb-20 m-12 md:absolute top-0">
                <div class="md:flex items-center justify-center">
                    <div class="md:mr-40">
                        <div class="font-medium text-3xl mb-8 text-white ">코드리뷰, 경험해보셨나요?</div>
                        <div class="font-medium text-lg text-gray-400">개발자로서의 레벨 업을 위해 코드 리뷰는 필수입니다.<br>
                            gitcode를 통해서 여러 개발자들과<br>
                            나의 소스코드에 대한 다양한 의견을 나눠보세요.</div>
                        <div><button class="main-button mt-4">퍼블릭 코드리뷰 시작하기</button></div>
                    </div>
                    <div>
                        <div>
                            <img src="/assets/images/main-img-right.svg" style="width:365px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute bottom-0">
            <div class="" >
                <div class="mx-auto text-center px-2 py-10">
                    <div class="mb-3 text-charcoal">Gitcode &copy; {{currentYear}} All Right Reserved</div>
                    <div class="flex-shrink lg:flex justify-center text-gray-600">
                        <div class="mr-1">테크로드 | 사업자등록번호: 156-14-01139 </div>
                        <div> | 대표자명: 조중현 |</div>
                    </div>
                    <div class="flex-shrink lg:flex justify-center text-gray-600">
                        <div>서울특별시 강남구 역삼로 215, 2층 | </div>
                        <div>개인정보보호책임: 조중현 | 고객센터: @Gitcode</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
