.main-button{
  background: linear-gradient(180deg, #FAFAFC 0%, #EFF3F6 100%), #EFF3F6;
  border: 1px solid #CBD5E0;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 7px 12px;

}

.bg-border-class{
  @media (min-width:768px) {
    min-width:1200px;max-width: 1200px;
  }

}

.bg-content-class{
  @media (min-width:768px) {
    min-width:1100px;max-width: 1100px;
  }
  min-width: 600px;
  max-width: 600px;
}

.main-bg{
  -webkit-background-size: cover!important;
  -moz-background-size: cover!important;
  -o-background-size: cover!important;
  background-repeat: no-repeat!important;
  //background-attachment: fixed!important;
  //background-size: cover!important;
  background-size:contain!important;
  background:url(/assets/images/main-background.jpg);
  width:1440px;
  height:1027px;

  @media (min-width:768px) {
    //width:1200px;max-width: 1200px;min-width: 1200px;
  }
  //width:600px;max-width: 600px;min-width: 800px;
  //position: absolute;
  //right:300px;
}


.main-footer{
  @media (min-width:768px) {
    //left:250px;
    top:736px;
    left:500px


  }
  bottom:-50px;
  left:40px;
}

.main-img-right{
  @media (min-width:768px) {
    width:364px;
  }
  width:260px;

}

.main-container-class{
  @media (min-width:768px) {
    left:20%;
  }
  left:0;
}

