<button mat-icon-button mat-dialog-close class="close-icon" tabindex="-1">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
  <div class="title">Terms and Conditions</div>
  <div class="content">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed erat convallis est malesuada. Phasellus libero
      netus eleifend quisque nulla pretium purus sem. Justo, ipsum lorem eget libero. Morbi est eget non massa commodo
      enim mattis adipiscing purus. Nulla sagittis sit vel a donec magna hac.
      Sed est, nulla in phasellus eu senectus eros at quis. Quis lectus elit velit, lacus luctus. Nulla justo nulla
      iaculis sit diam enim tincidunt sollicitudin nisi. Parturient mattis morbi tincidunt euismod sit et dolor. Ut
      orci, quis augue viverra velit consectetur purus, non sed. Magna integer sapien semper velit amet, nam ut. Sit
      vulputate consequat auctor nascetur nibh ultrices erat. Volutpat varius vel, pulvinar neque at volutpat amet et.
      Accumsan accumsan risus ut pellentesque aliquam consequat. Nibh lorem amet diam pulvinar ullamcorper turpis varius
      risus. Suspendisse id elit orci, mauris leo id. Lectus nec proin id odio luctus lacus mauris. Pulvinar ut odio
      semper dui. Morbi magna malesuada vitae ligula velit, sit et sit elementum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed erat convallis est malesuada. Phasellus libero
      netus eleifend quisque nulla pretium purus sem. Justo, ipsum lorem eget libero. Morbi est eget non massa commodo
      enim mattis adipiscing purus. Nulla sagittis sit vel a donec magna hac.
      Sed est, nulla in phasellus eu senectus eros at quis. Quis lectus elit velit, lacus luctus. Nulla justo nulla
      iaculis sit diam enim tincidunt sollicitudin nisi. Parturient mattis morbi tincidunt euismod sit et dolor. Ut
      orci, quis augue viverra velit consectetur purus, non sed. Magna integer sapien semper velit amet, nam ut. Sit
      vulputate consequat auctor nascetur nibh ultrices erat. Volutpat varius vel, pulvinar neque at volutpat amet et.
      Accumsan accumsan risus ut pellentesque aliquam consequat. Nibh lorem amet diam pulvinar ullamcorper turpis varius
      risus. Suspendisse id elit orci, mauris leo id. Lectus nec proin id odio luctus lacus mauris. Pulvinar ut odio
      semper dui. Morbi magna malesuada vitae ligula velit, sit et sit elementum.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed erat convallis est malesuada. Phasellus libero
      netus eleifend quisque nulla pretium purus sem. Justo, ipsum lorem eget libero. Morbi est eget non massa commodo
      enim mattis adipiscing purus. Nulla sagittis sit vel a donec magna hac.
      Sed est, nulla in phasellus eu senectus eros at quis. Quis lectus elit velit, lacus luctus. Nulla justo nulla
      iaculis sit diam enim tincidunt sollicitudin nisi. Parturient mattis morbi tincidunt euismod sit et dolor. Ut
      orci, quis augue viverra velit consectetur purus, non sed. Magna integer sapien semper velit amet, nam ut. Sit
      vulputate consequat auctor nascetur nibh ultrices erat. Volutpat varius vel, pulvinar neque at volutpat amet et.
      Accumsan accumsan risus ut pellentesque aliquam consequat. Nibh lorem amet diam pulvinar ullamcorper turpis varius
      risus. Suspendisse id elit orci, mauris leo id. Lectus nec proin id odio luctus lacus mauris. Pulvinar ut odio
      semper dui. Morbi magna malesuada vitae ligula velit, sit et sit elementum.
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="false">
  <div class="dialog-actions">
    <button mat-flat-button
            class="dialog-action"
            color="primary"
            type="button"
            mat-dialog-close>OK
    </button>
  </div>
</mat-dialog-actions>
