<div class="chips">
  <div class="chip subscription"
       *ngIf="pricingCard?.category === pricingCategory.INDIVIDUAL && pricingCard?.plan === pricingPlan.SUBSCRIPTION">
    <img src="/assets/images/pricing-individual.svg" alt="Individual" class="icon">
    <span [innerHtml]="'pricing.pricingCard.individual.subscription.chip' | translate"></span>
  </div>
  <div class="chip on-demand"
       *ngIf="pricingCard?.category === pricingCategory.INDIVIDUAL && pricingCard?.plan === pricingPlan.ON_DEMAND">
    <img src="/assets/images/pricing-team.svg" alt="Team" class="icon">
    <span [innerHtml]="'pricing.pricingCard.individual.onDemand.chip' | translate"></span>
  </div>
  <div class="chip subscription"
       *ngIf="pricingCard?.category === pricingCategory.CORPORATION && pricingCard?.plan === pricingPlan.SUBSCRIPTION">
    <img src="/assets/images/pricing-pair.svg" alt="Pair" class="icon">
    <span [innerHtml]="'pricing.pricingCard.corporation.subscription.chip' | translate"></span>
  </div>
  <div class="chip on-demand"
       *ngIf="pricingCard?.category === pricingCategory.CORPORATION && pricingCard?.plan === pricingPlan.ON_DEMAND">
    <img src="/assets/images/pricing-group.svg" alt="Group" class="icon">
    <span [innerHtml]="'pricing.pricingCard.corporation.onDemand.chip' | translate"></span>
  </div>
</div>

<div class="info">
  <h3 class="title" [innerHtml]="pricingCard?.title | translate"></h3>
  <div class="description" [innerHtml]="pricingCard?.description | translate"></div>
  <ul class="benefits">
    <li class="benefit" *ngFor="let benefit of pricingCard?.benefits" [innerHtml]="benefit | translate"></li>
  </ul>
</div>

<div class="price-plan">
  <div class="plans">
    <div class="plan"
         [innerHtml]="'pricing.pricingCard.plan.subscription' | translate"
         *ngIf="pricingCard?.plan === pricingPlan.SUBSCRIPTION">
    </div>
    <div class="plan"
         [innerHtml]="'pricing.pricingCard.plan.onDemand' | translate"
         *ngIf="pricingCard?.plan === pricingPlan.ON_DEMAND">
    </div>
  </div>

  <div class="plan-price {{ pricingPlan[pricingCard?.plan] | lowercase }}">
  <span class="price"
        [innerHTML]="(pricingCard?.price || 0) | currency: pricingCard.currency:'symbol':'1.0-2'"></span>
  </div>
</div>

<div class="actions">
  <ng-container *ngIf="pricingCard?.plan === pricingPlan.SUBSCRIPTION">
    <button mat-flat-button
            color="primary"
            (click)="purchase($event)"
            [innerHtml]="'pricing.pricingCard.action.purchase' | translate"
            *ngIf="!!user">
    </button>
    <button mat-flat-button
            color="primary"
            (click)="signIn($event)"
            [innerHtml]="'pricing.pricingCard.action.signIn' | translate"
            *ngIf="!user">
    </button>
  </ng-container>
  <button mat-flat-button
          color="primary"
          (click)="requestQuote($event)"
          [innerHtml]="'pricing.pricingCard.action.request' | translate"
          *ngIf="pricingCard?.plan === pricingPlan.ON_DEMAND">
  </button>
</div>
