<button mat-icon-button mat-dialog-close class="close-icon" tabindex="-1">
    <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
    <div class="title">{{ 'codeReviewDetail.title' | translate }}</div>
    <div class="repo-header">
        <gitcode-tag [type]="item?.state | lowercase"></gitcode-tag>

        <div class="repo-title">{{ item?.title }}</div>
        <div class="author-info">
            <div class="avatar">
                <img src="{{ item?.author?.photoURL }}" alt="{{ item?.author?.displayName }}">
            </div>
            <div class="username">{{ item?.author?.displayName }}</div>
            <div class="date">{{ item?.createdAt }}</div>
            <gitcode-tag [type]="'grade'">{{ item?.proficiency }}</gitcode-tag>

            <button mat-button [matMenuTriggerFor]="beforeMenu" class="author-actions">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="openDialog(1)">코드리뷰 종료</button>
                <button mat-menu-item (click)="openDialog(2)">수정</button>
                <button mat-menu-item>삭제</button>
            </mat-menu>
        </div>
    </div>

    <ul class="tags" *ngIf="item?.githubPR?.languages && item?.githubPR?.languages?.length">
        <li class="tag"
            *ngFor="let language of item?.githubPR.languages">
            <gitcode-tag [type]="'none'">{{ language }}</gitcode-tag>
        </li>
    </ul>

    <section class="repo-info description">
        <div class="section-title">프로젝트 설명</div>
        <div class="section-content">{{ item?.description }}</div>
    </section>

    <section class="repo-info purpose">
        <div class="section-title">코드리뷰 요청사항</div>
        <div class="section-content">{{ item?.purpose }}</div>
    </section>

    <div class="pr-actions">
        <gitcode-button class="pr-action" [color]="'github'"
                        (click)="openExternalLink($event, item?.githubPR?.html_url)">코드리뷰 참여하기
        </gitcode-button>
    </div>

    <div class="comment-header">
        <div class="key-value">
            <span class="key">{{ 'codeReviewDetail.reviewers' | translate }}</span>
            <span class="value">{{ item?.reviewers?.length }}</span>
        </div>
        <div class="key-value">
            <span class="key">{{ 'codeReviewDetail.comments' | translate }}</span>
            <span class="value">{{ comments?.length }}</span>
        </div>
    </div>

    <div class="no-comment" *ngIf="!comments?.length">
        {{ 'codeReviewDetail.noComment' | translate }}
    </div>

    <ul class="comments" *ngIf="comments?.length">
        <li class="comment" *ngFor="let comment of comments">
            <gitcode-code-review-comment [comment]="comment"></gitcode-code-review-comment>
        </li>
    </ul>
    <!--    <div class="border-t border-b bg-gray-100 border-gray-300 flex px-8 py-2">-->
    <!--        <div class="mr-5">-->
    <!--            <span class="mr-2 text-xs font-bold text-gray-700 ">Reviewer</span><span class="font-medium text-sm text-blue">38</span>-->
    <!--        </div>-->
    <!--        <div>-->
    <!--            <span class="mr-2 text-xs font-bold text-gray-700 ">Comment</span><span class="font-medium text-sm text-blue">78</span>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div class="px-5">-->
    <!--        <div>-->
    <!--            <div class="flex mt-5">-->
    <!--                <div class="mr-4">-->
    <!--                    <img class="w-8 h-8 mr-8" src="/assets/icons/avatar-a.svg">-->
    <!--                </div>-->
    <!--                <div class="">-->
    <!--                    <div class="container border-t border-r border-l border-gray-400 bg-indigo-100 flex items-center px-3 py-2 ">-->
    <!--                        <div class="flex flex-wrap items-center">-->
    <!--                            <div class="font-bold text-sm text-charcoal mr-2 ">Username</div>-->
    <!--                            <span class="text-xs text-gray-600">commented 1hour ago</span>-->
    <!--                        </div>-->
    <!--                        <div class="ml-auto">-->
    <!--                            <div class="flex text-white bg-yellow-500 rounded-full text-xs items-center py-1 px-2 ">-->
    <!--                                <div><img src="/assets/icons/star-white.svg" class="text-white " style="height:15px;width:15px;min-width:15px"></div>-->
    <!--                                <div class="whitespace-no-wrap ml-1">베스트 리뷰</div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="border border-gray-400 px-3 py-5 text-sm text-charcoal">By default Tailwind only provides 0 and auto top/right/bottom/left/inset utilities. You can change, add, or remove these by editing the theme.inset section of your tailwind.config.js file.</div>-->
    <!--                    <div class="my-2 flex">-->
    <!--                        <div class="flex items-center mr-5">-->
    <!--                            <img class="icon-reply" src="/assets/icons/reply.svg"><span class="font-medium text-xs text-gray-600">답글달기</span>-->
    <!--                        </div>-->
    <!--                        <div class="flex items-center">-->
    <!--&lt;!&ndash;                            <img class="icon-reply" src="/assets/icons/star.svg"><span class="font-medium text-xs text-gray-600 cursor-pointer" (click)="createReviewEvaluate($event)">베스트 리뷰 선정</span>&ndash;&gt;-->
    <!--                            <img class="icon-reply" src="/assets/icons/star.svg">-->
    <!--                            <span class="font-medium text-xs text-gray-600 cursor-pointer"-->
    <!--                                  (click)="openDialogBestreview($event)">베스트 리뷰 선정</span>-->

    <!--                        </div>-->

    <!--&lt;!&ndash;                        <ng-template #isBestReview>&ndash;&gt;-->
    <!--&lt;!&ndash;                            <div mat-dialog-content >&ndash;&gt;-->
    <!--&lt;!&ndash;                                <div class="max-w-sm">&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <div class="font-bold text-base text-charcoal  pb-3">코드리뷰 종료</div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    <div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="text-sm text-charcoal h-20">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            코드리뷰의 상태가 종료로 변경되었습니다.&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        <div class="text-blue text-sm flex justify-end">&ndash;&gt;-->
    <!--&lt;!&ndash;                                            <div class="cursor-pointer" (click)="closePopup($event)">확인</div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                                </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                            </div>&ndash;&gt;-->
    <!--&lt;!&ndash;                        </ng-template>&ndash;&gt;-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="text-center text-blue text-sm underline pt-8 pb-10">More</div>-->
    <!--    </div>-->
</mat-dialog-content>

