@import 'treo';

ul.steps {
  padding: 0;
  margin: 1.5rem auto 0;
  list-style-type: none;
  @include flex-row(center);
  justify-content: space-between;

  @media #{$medium-up} {
    max-width: 60%;
  }

  li.step {
    flex: 1;
    @include flex-row(center);
    font-size: em(14px);
    padding: 0 .25rem;

    &::before {
      content: '';
      display: inline-flex;
      width: rem(15px);
      height: rem(15px);
      border: solid thin transparent;
      border-radius: 50%;
      background-color: #CDD0D4;
    }

    &::after {
      content: unset;
      display: inline-flex;
      flex: 1;
      width: auto;
      height: rem(15px);
      border: solid thin transparent;
      border-radius: 9999px;
      background-color: #CDD0D4;

      @media #{$medium-up} {
        content: '';
      }
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;
      flex-grow: 0;

      &::after {
        content: unset;
      }
    }

    &.in-progress {
      &::after {
        background-color: #FADDE0;
      }
    }

    &.active {
      font-weight: 700;

      &::before,
      &::after {
        background-color: #FADDE0;
      }

      &::before {
        @media #{$medium-up} {
          background-color: #CDD0D4;
        }
      }
    }

    .message {
      padding: 0 .5rem;
    }
  }
}

:host(.payment-progress) {
  font-size: 1rem;
}
