@import "variables";

.hero {
  @include flex-center();
  height: rem(138px);
  background-color: #444A52;
  color: white;

  @media #{$medium-up} {
    height: rem(240px);
  }

  .page-title {
    margin: 0;
    font-size: rem(32px);

    @media #{$medium-up} {
      font-size: rem(64px);
    }
  }
}
