@import "variables";

.hero {
  @include flex-center();
  height: rem(138px);
  background-color: #444A52;
  color: white;

  @media #{$medium-up} {
    height: rem(240px);
  }

  .page-title {
    margin: 0;
    font-size: rem(32px);

    @media #{$medium-up} {
      font-size: rem(64px);
    }
  }
}

section {
  @include flex-column();
  // width: 100%;
  // max-width: rem(1090px);
  // margin: 0 auto 1rem;
  padding: 1rem;
  position: relative;

  

}

