@import "variables";

.table {
  @include flex-column(stretch);

  .row {
    @include flex-row(center);
    box-shadow: 0 1px 0 0 $color-table-row-divider;

    &.headers {
      background-color: $color-table-header-background;
      box-shadow: 0 2px 0 0 $color-table-row-divider;
      color: $color-table-header-text;
      font-weight: 700;
    }

    .cell {
      @include flex-center();
      padding: 1rem;

      &.select {
        flex: 0 0 10%;
      }

      &.email {
        flex: 0 0 20%;
        align-items: flex-start;
      }

      &.team-size {
        flex: 0 0 10%;
      }

      &.purposes {
        flex: 0 0 20%;
      }

      &.phone {
        flex: 0 0 15%;
      }

      &.register-date {
        flex: 0 0 25%;
      }
    }
  }
}

.pagination {
  @include flex-column(center);
  padding: 1rem 0;
}

:host(.subscriber-list) {
  @include flex-column();
  width: 100%;
}
