<div class="summary-title">Your purchase has been completed successfully.</div>
<div class="summary">
  <h3 class="pricing-title" [innerHtml]="pricingCard?.title | translate"></h3>
  <div class="key-values">
    <div class="key-value" *ngIf="user?.license">
      <div class="key">License</div>
      <div class="value">
        <div class="code" *ngIf="false">code: {{ user?.license?.code }}</div>
        <div class="expiration">
          Your license will be automatically renewed on
          {{ user?.license?.expirationDate?.seconds | amFromUnix | amLocale:'en' | amLocal | amDateFormat:'LL' }}
        </div>
      </div>
    </div>
    <div class="key-value" *ngIf="user?.license">
      <div class="key">Payment</div>
      <div class="value">{{ user?.license?.paymentMethod }}</div>
    </div>
  </div>
</div>
<div class="github-app">
  Please run RE-CODE app installation and repository connection on Github.<br>
  <a href="https://github.com/re-code-io/app" target="_blank">Go to Github</a>
</div>
<div class="notes">
  You can check the details of your purchase through <a routerLink="/profile">My Page</a>.<br>
  Check the <a routerLink="/how-it-works">How it works</a> page for more details.<br><br>
  Thank you.
</div>
