<div class="hero">
  <h1 class="page-title" [innerHtml]="'pricing.pageTitle' | translate">Pricing</h1>
</div>

<h2 class="slogan" [innerHtml]="'pricing.slogan' | translate"></h2>

<mat-tab-group>
  <mat-tab label="{{ 'pricing.category.individual' | translate }}">
    <ul class="plans">
      <li class="plan" *ngFor="let card of individualPricingCards">
        <app-pricing-card [pricingCard]="card"></app-pricing-card>
      </li>
    </ul>
  </mat-tab>
  <mat-tab label="{{ 'pricing.category.corporation' | translate }}">
    <ul class="plans">
      <li class="plan" *ngFor="let card of corporatePricingCards">
        <app-pricing-card [pricingCard]="card"></app-pricing-card>
      </li>
    </ul>
  </mat-tab>
</mat-tab-group>

<div class="contact-us">
  <p [innerHtml]="'pricing.contactUs.message' | translate"></p>
  <button mat-flat-button (click)="openContactUsDialog($event)">
    <span [innerHtml]="'pricing.contactUs.buttonText' | translate"></span>
  </button>
</div>
