<div class="mr-3 mt-5 border-solid border-gray-500 border rounded-md bg-white" style="width:900px">
  <div class="">
      
      <div class="bg-gray-100 justify-between items-center md:flex md:items-center mx-6 mt-5 pl-6 pr-6 py-6 ">
        <div class="flex w-full">
          <div class="w-8/12">
            <div class="text-sm text-gray-900 font-bold mb-2 ml-2">My rating 3.0</div>
            <div class="flex">
              <star-rating class="mr-10 pt-3" [starType]="'svg'" size=large [rating]="3" ></star-rating>
              <div class="border-r mr-10"></div>
              <div>
                <div class="flex justify-between">
                  <div class="mb-2">Private PR</div>
                  <star-rating [starType]="'svg'" size=medium [rating]="3" class="ml-5"></star-rating>
                </div>
                <div class="flex justify-between">
                  <div>Public PR</div>
                  <star-rating  [starType]="'svg'" size=medium [rating]="3" ></star-rating>
                </div>
              </div>
            </div>
          </div>
          <div class="w-4/12">
            <div class="flex justify-center mt-5">
              <div class="text-center mr-12">
                <div class="text-gray-700">Written rate</div>
                <div class="text-4xl ">21</div>
              </div>
              <div class="text-center">
                <div class="text-gray-700">Receive rate</div>
                <div class="text-4xl">7</div>
              </div>
            </div>  
          </div>
        </div>      
      </div>

      <mat-tab-group mat-align-tabs="center" class="mt10 mb10">
        <mat-tab label="Written rate" class="mt10 mb10">
          <!-- Written rate card-->
          <div class="mx-5 mt-12 mb-5 hover-shadow">
            <div class="flex">
              <div class="w-2/12 flex mt-5 ml-5">
                <div>
                  <div class="text-orange-500 text-xs mb-2">Reviewer</div>
                  <img _ngcontent-pro-c27="" class="w-10" src="/assets/images/github-avatar.svg">
                </div>
                <div class="text-gray-700" style="margin-top:36px">Lion Cho</div>
              </div>
              <star-rating class="w-2/12 p-5" style="padding-top:46px" [starType]="'svg'" size="large" [rating]="3"></star-rating>
              <div class="w-6/12 ml-32 mt-6 mr-5 ">
                <div class="text-orange-500 text-xs ">Request</div>
                <div class="text-gray-900 underline overflow-2line">Please check my code it is coded by kotlin, I really don't know why it has security issues.Please check my code it is coded by kotlin, I really don't know why it has security issues.</div>
              </div>
            </div>
            <div class="border-b mx-5"></div>
            <div class="text-gray-500 text-sm text-center py-12 px-5">There are two many comments here, Ultrices natoque mus mattis, aliquam, cras in pellentesque
              tincidunt elit purus lectus, vel ut aliquet, elementum nunc
              nunc rhoncus placerat urna! Sit est sed! Ut penatibus turpis
              mus tincidunt! Dapibus sed aenean, magna sagittis, lorem velit.Ultrices natoque mus mattis, aliquam, cras in pellentesque
              tincidunt elit purus lectus, vel ut aliquet, elementum nunc
              nunc rhoncus placerat urna! Sit est sed! Ut penatibus turpis
              mus tincidunt! Dapibus sed aenean, magna sagittis, lorem velit</div>
          </div>
          <div class="mx-5 mt-6 mb-5 hover-shadow">
            <div class="flex">
              <div class="w-2/12 flex mt-5 ml-5">
                <div>
                  <div class="text-orange-500 text-xs mb-2">Reviewer</div>
                  <img _ngcontent-pro-c27="" class="w-10" src="/assets/images/github-avatar.svg">
                </div>
                <div class="text-gray-700" style="margin-top:36px">Long name Cho</div>
              </div>
              <star-rating class="w-2/12 p-5" style="padding-top:46px" [starType]="'svg'" size="large" [rating]="3"></star-rating>
              <div class="w-6/12 ml-32 mt-6 mr-5 ">
                <div class="text-orange-500 text-xs ">Request</div>
                <div class="text-gray-900 underline overflow-2line">Please check my code it is coded by kotlin, I really don't know why it has security issues.Please check my code it is coded by kotlin, I really don't know why it has security issues.</div>
              </div>
            </div>
            <div class="border-b mx-5"></div>
            <div class="text-gray-500 text-sm text-center py-12">There are no registered comments</div>
          </div>
          <div class="mx-5 mt-6 mb-5 hover-shadow">
            <div class="flex">
              <div class="w-2/12 flex mt-5 ml-5">
                <div>
                  <div class="text-orange-500 text-xs mb-2">Reviewer</div>
                  <img _ngcontent-pro-c27="" class="w-10" src="/assets/images/github-avatar.svg">
                </div>
                <div class="text-gray-700" style="margin-top:36px">Different lenth Lion Cho</div>
              </div>
              <star-rating class="w-2/12 p-5" style="padding-top:46px" [starType]="'svg'" size="large" [rating]="3"></star-rating>
              <div class="w-6/12 ml-32 mt-6 mr-5 ">
                <div class="text-orange-500 text-xs ">Request</div>
                <div class="text-gray-900 underline overflow-2line">Please check my code it is coded by kotlin, I really don't know why it has security issues.Please check my code it is coded by kotlin, I really don't know why it has security issues.</div>
              </div>
            </div>
            <div class="border-b mx-5"></div>
            <div class="text-gray-500 text-sm text-center py-12">There are no registered comments</div>
          </div>
        </mat-tab>

        <mat-tab label="Receive rate">
          <div class="mx-5 mt-12 mb-5 hover-shadow">
            <div class="flex">
              <div class="w-2/12 flex mt-5 ml-5">
                <div>
                  <div class="text-orange-500 text-xs mb-2">Reviewer</div>
                  <img _ngcontent-pro-c27="" class="w-10" src="/assets/images/github-avatar.svg">
                </div>
                <div class="text-gray-700" style="margin-top:36px">Lion Cho</div>
              </div>
              <star-rating class="w-2/12 p-5" style="padding-top:46px" [starType]="'svg'" size="large" [rating]="3"></star-rating>
              <div class="w-6/12 ml-32 mt-6 mr-5 ">
                <div class="text-orange-500 text-xs ">Request</div>
                <div class="text-gray-900 underline overflow-2line">Please check my code it is coded by kotlin, I really don't know why it has security issues.Please check my code it is coded by kotlin, I really don't know why it has security issues.</div>
              </div>
            </div>
            <div class="border-b mx-5"></div>
            <div class="text-gray-500 text-sm text-center py-12">There are no registered comments</div>
          </div>
          <div class="mx-5 mt-6 mb-5 hover-shadow">
            <div class="flex">
              <div class="w-2/12 flex mt-5 ml-5">
                <div>
                  <div class="text-orange-500 text-xs mb-2">Reviewer</div>
                  <img _ngcontent-pro-c27="" class="w-10" src="/assets/images/github-avatar.svg">
                </div>
                <div class="text-gray-700" style="margin-top:36px">Long name Cho</div>
              </div>
              <star-rating class="w-2/12 p-5" style="padding-top:46px" [starType]="'svg'" size="large" [rating]="3"></star-rating>
              <div class="w-6/12 ml-32 mt-6 mr-5 ">
                <div class="text-orange-500 text-xs ">Request</div>
                <div class="text-gray-900 underline overflow-2line">Please check my code it is coded by kotlin, I really don't know why it has security issues.Please check my code it is coded by kotlin, I really don't know why it has security issues.</div>
              </div>
            </div>
            <div class="border-b mx-5"></div>
            <div class="text-gray-500 text-sm text-center py-12">There are no registered comments</div>
          </div>
          <div class="mx-5 mt-6 mb-5 hover-shadow">
            <div class="flex">
              <div class="w-2/12 flex mt-5 ml-5">
                <div>
                  <div class="text-orange-500 text-xs mb-2">Reviewer</div>
                  <img _ngcontent-pro-c27="" class="w-10" src="/assets/images/github-avatar.svg">
                </div>
                <div class="text-gray-700" style="margin-top:36px">Different lenth Lion Cho</div>
              </div>
              <star-rating class="w-2/12 p-5" style="padding-top:46px" [starType]="'svg'" size="large" [rating]="3"></star-rating>
              <div class="w-6/12 ml-32 mt-6 mr-5 ">
                <div class="text-orange-500 text-xs ">Request</div>
                <div class="text-gray-900 underline overflow-2line">Please check my code it is coded by kotlin, I really don't know why it has security issues.Please check my code it is coded by kotlin, I really don't know why it has security issues.</div>
              </div>
            </div>
            <div class="border-b mx-5"></div>
            <div class="text-gray-500 text-sm text-center py-12">There are no registered comments</div>
          </div>
          </mat-tab>
      </mat-tab-group>
  </div>
  <app-component-nav></app-component-nav>

  <div class="bg-gray-200 hover:bg-white hover:border-gray-300 focus:outline-none focus:bg-white focus:shadow-outline focus:border-gray-300 w-16"></div>
</div>
