<div class="mr-3 mt-5 border-solid border-gray-500 border rounded-md bg-white">
  <div class="">
      <mat-card class="bg-light-gray mt10 mb10">
        <mat-card-content class="mt10 mb10">
          <mat-grid-list cols="5" rowHeight="60px">
            <mat-grid-tile [colspan]="1">
              <table align="left" width="100%" class="beforeborder">
                <tr>
                  <td><b>My Rating 3.0</b></td>
                </tr>
                <tr>
                  <td align="left">
                    <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3"></star-rating>
                  </td>
                </tr>
              </table>
            </mat-grid-tile>

            
            <mat-grid-tile [colspan]="2">
              <table align="left" width="100%">
                <tr>
                  <td>Private PR</td>
                  <td>
                    <star-rating class="score" [starType]="'svg'" size="medium" [rating]="0"></star-rating>
                  </td>
                </tr>
                <tr>
                  <td>Public PR </td>
                  <td>
                    <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3"></star-rating>
                  </td>
                </tr>
              </table>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2">
              <table width="100%">
                <tr>
                  <td align="center">Written rate</td>
                  <td align="center">Receive rate</td>
                </tr>
                <tr>
                  <td align="center">
                    <font size="5"><b>21</b></font>
                  </td>
                  <td align="center">
                    <font size="5"><b>7</b></font>
                  </td>
                </tr>
              </table>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
      <div class="bg-gray-100 justify-between items-center md:flex md:items-center mx-6 mt-5 pl-6 pr-6 py-6 ">
        <div class="flex justify-between">
          <div>
            <div class="text-sm text-gray-900 font-bold mb-2 ml-2">My rating 3.0</div>
            <div class="flex">
              <star-rating class="mr-10 pt-3" [starType]="'svg'" size=large [rating]="3" ></star-rating>
              <div class="border-r mr-10"></div>
              <div>
                <div class="flex justify-between">
                  <div class="mb-2">Private PR</div>
                  <star-rating [starType]="'svg'" size=medium [rating]="3" ></star-rating>
                </div>
                <div class="flex justify-between">
                  <div>Public PR</div>
                  <star-rating  [starType]="'svg'" size=medium [rating]="3" ></star-rating>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="flex items-center">
              <div>
                <div class="text-gray-700">Written rate</div>
                <div class="text-4xl">21</div>
              </div>
              <div>
                <div class="text-gray-700">Receive rate</div>
                <div class="text-4xl">7</div>
              </div>
            </div>  
          </div>
          
        </div>      
      </div>

      <mat-tab-group mat-align-tabs="center" class="mt10 mb10">
        <mat-tab label="Written rate" class="mt10 mb10">
          <mat-card class="mt10 mb10 pb10">
            <mat-card-content>
              <mat-grid-list cols="5" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Reviewer</td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                class="user-img">
                            </td>
                            <td>
                              Username
                            </td>
                            <td>
                              <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                              </star-rating>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Request</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                          <br />prefixnetwork: DHCPv6 client add support for...</a>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <mat-divider></mat-divider>
                  </td>
                </tr>
                <tr class="height90">
                  <td colspan="2" align="center" class="font-size-12 font-color-lightgray">There are no
                    registered comments.</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <mat-card class="mt10 mb10 pb10">
            <mat-card-content>
              <mat-grid-list cols="5" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Reviewer</td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                class="user-img">
                            </td>
                            <td>
                              Username
                            </td>
                            <td>
                              <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                              </star-rating>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Request</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                          <br />prefixnetwork: DHCPv6 client add support for...</a>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <mat-divider></mat-divider>
                  </td>
                </tr>
                <tr class="height90">
                  <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <mat-card class="mt10 mb10 pb10">
            <mat-card-content>
              <mat-grid-list cols="5" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Reviewer</td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                class="user-img">
                            </td>
                            <td>
                              Username
                            </td>
                            <td>
                              <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                              </star-rating>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Request</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                          <br />prefixnetwork: DHCPv6 client add support for...</a>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <mat-divider></mat-divider>
                  </td>
                </tr>
                <tr class="height90">
                  <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <mat-card class="mt10 mb10 pb10">
            <mat-card-content>
              <mat-grid-list cols="5" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Reviewer</td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                class="user-img">
                            </td>
                            <td>
                              Username
                            </td>
                            <td>
                              <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                              </star-rating>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Request</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                          <br />prefixnetwork: DHCPv6 client add support for...</a>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <mat-divider></mat-divider>
                  </td>
                </tr>
                <tr class="height90">
                  <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <mat-card class="mt10 mb10 pb10">
            <mat-card-content>
              <mat-grid-list cols="5" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Reviewer</td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                class="user-img">
                            </td>
                            <td>
                              Username
                            </td>
                            <td>
                              <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                              </star-rating>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Request</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                          <br />prefixnetwork: DHCPv6 client add support for...</a>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <mat-divider></mat-divider>
                  </td>
                </tr>
                <tr class="height90">
                  <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          
        </mat-tab>
        <mat-tab label="Receive rate">
          <mat-card class="mt10 mb10 pb10">
            <mat-card-content>
              <mat-grid-list cols="5" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Reviewer</td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                class="user-img">
                            </td>
                            <td>
                              Username
                            </td>
                            <td>
                              <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                              </star-rating>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Request</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                          <br />prefixnetwork: DHCPv6 client add support for...</a>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <mat-divider></mat-divider>
                  </td>
                </tr>
                <tr class="height90">
                  <td colspan="2" align="center" class="font-size-12 font-color-lightgray">There are no
                    registered comments.</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <mat-card class="mt10 mb10 pb10">
            <mat-card-content>
              <mat-grid-list cols="5" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Reviewer</td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                class="user-img">
                            </td>
                            <td>
                              Username
                            </td>
                            <td>
                              <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                              </star-rating>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Request</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                          <br />prefixnetwork: DHCPv6 client add support for...</a>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <mat-divider></mat-divider>
                  </td>
                </tr>
                <tr class="height90">
                  <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <mat-card class="mt10 mb10 pb10">
            <mat-card-content>
              <mat-grid-list cols="5" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Reviewer</td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                class="user-img">
                            </td>
                            <td>
                              Username
                            </td>
                            <td>
                              <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                              </star-rating>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Request</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                          <br />prefixnetwork: DHCPv6 client add support for...</a>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <mat-divider></mat-divider>
                  </td>
                </tr>
                <tr class="height90">
                  <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <mat-card class="mt10 mb10 pb10">
            <mat-card-content>
              <mat-grid-list cols="5" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Reviewer</td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                class="user-img">
                            </td>
                            <td>
                              Username
                            </td>
                            <td>
                              <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                              </star-rating>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Request</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                          <br />prefixnetwork: DHCPv6 client add support for...</a>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <mat-divider></mat-divider>
                  </td>
                </tr>
                <tr class="height90">
                  <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <mat-card class="mt10 mb10 pb10">
            <mat-card-content>
              <mat-grid-list cols="5" rowHeight="80px">
                <mat-grid-tile [colspan]="2">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Reviewer</td>
                    </tr>
                    <tr>
                      <td>
                        <table>
                          <tr>
                            <td>
                              <img src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                class="user-img">
                            </td>
                            <td>
                              Username
                            </td>
                            <td>
                              <star-rating class="score" [starType]="'svg'" size="medium" [rating]="3">
                              </star-rating>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3">
                  <table width="100%">
                    <tr>
                      <td class="font-color-yellow font-size-12">Request</td>
                    </tr>
                    <tr>
                      <td>
                        <a href="javascript:void();">network: DHCPv6 client add support for prepix delegration
                          <br />prefixnetwork: DHCPv6 client add support for...</a>
                      </td>
                    </tr>
                  </table>
                </mat-grid-tile>
              </mat-grid-list>
              <table width="100%">
                <tr>
                  <td colspan="2">
                    <mat-divider></mat-divider>
                  </td>
                </tr>
                <tr class="height90">
                  <td colspan="2" align="left" class="font-size-12 font-color-lightgray">Lorem ipsum dolor sit
                    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          
            
        </mat-tab>
      </mat-tab-group>

  </div>
  <app-component-nav></app-component-nav>
</div>

      
        