<button mat-icon-button mat-dialog-close class="close-icon" tabindex="-1">
  <mat-icon>close</mat-icon>
</button>

<div>
  <mat-dialog-content>
    <div class="title">Privacy Policy</div>
    <div class="content">
      <iframe class="w-full h-screen" src="https://docs.google.com/document/d/e/2PACX-1vQwJou4aT9JUPpTaOOv9YCvYgS_7oLcxcPmFzTFsBuP9p_zyCEAAlZO_ez75cHQq07_MC2sBzg3SNUV/pub"></iframe>
    </div>
</mat-dialog-content>
</div>

<mat-dialog-actions *ngIf="false">
  <div class="dialog-actions">
    <button mat-flat-button
            class="dialog-action"
            color="primary"
            type="button"
            mat-dialog-close>OK
    </button>
  </div>
</mat-dialog-actions>
