<div class="filters">
  <mat-form-field class="filter" floatLabel="always" *ngFor="let key of filterKeys; let i = index;">
    <mat-label>{{ filterLabel[i] }}</mat-label>
    <mat-select placeholder="Any" [formControl]="this.filterItems[key].form" multiple>
      <mat-select-trigger>
        {{ this.filterItems[key].form.value ? (this.filterItems[key].form.value[0] | titlecase) : ''}}
        <span *ngIf="this.filterItems[key].form.value?.length > 1">
          (+{{this.filterItems[key].form.value.length - 1}} {{this.filterItems[key].form.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let item of this.filterItems[key].list"
                  [value]="item.value">{{ item.text | titlecase }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="actions">
  <button class="action"
          mat-stroked-button
          color="warn"
          (click)="requestDelete($event)">
          Delete
  </button>
</div>
