<div class="summary" (click)="goToPR($event)">
  <div class="title">{{ pullRequest.title }}</div>
  <div class="status">
    <div class="status-icon">
      <img class="icon" src="/assets/images/pr-open.svg"
           [alt]="pullRequest?.status"
           (error)="imageService.handleImageLoadError($event)"
           *ngIf="pullRequest?.status?.toLowerCase().trim() === 'open'">
      <img class="icon" src="/assets/images/pr-in-review.svg"
           [alt]="pullRequest?.status"
           (error)="imageService.handleImageLoadError($event)"
           *ngIf="pullRequest?.status?.toLowerCase().trim() === 'in review'">
      <img class="icon" src="/assets/images/pr-closed.svg"
           [alt]="pullRequest?.status"
           (error)="imageService.handleImageLoadError($event)"
           *ngIf="pullRequest?.status?.toLowerCase().trim() === 'closed'">
      <img class="icon" src="/assets/images/pr-reopen.svg"
           [alt]="pullRequest?.status"
           (error)="imageService.handleImageLoadError($event)"
           *ngIf="pullRequest?.status?.toLowerCase().trim() === 'reopen'">
    </div>
    <div class="status-text">{{ pullRequest.status }}</div>
  </div>
  <div class="privacy">
    <div class="privacy-icon"></div>
    <div class="privacy-text"></div>
  </div>
  <div class="person author">
    <div class="person-title">Reviewee</div>
    <div class="person-content">
      <img class="person-avatar icon"
           [src]="pullRequest.authorAvatar"
           [alt]="pullRequest.authorId"
           (error)="imageService.handleImageLoadError($event, '/assets/images/github-avatar.svg')">
      <div class="person-id">{{ pullRequest.authorId || '-' }}</div>
    </div>
  </div>
  <div class="person reviewer">
    <div class="person-title">Reviewer</div>
    <div class="person-content">
      <img class="person-avatar icon"
           [src]="pullRequest.reviewerAvatar"
           [alt]="pullRequest.reviewerId"
           (error)="imageService.handleImageLoadError($event, '/assets/images/github-avatar.svg')">
      <div class="person-id">{{ pullRequest.reviewerId || '-' }}</div>
    </div>
  </div>
  <div class="reviewer-rating">
    <div class="rating-title">Rating</div>
    <div class="rating-value">
      <button mat-stroked-button
              type="button"
              *ngIf="pullRequest.status === 'Closed' && !pullRequest.reviewerRating"
              (click)="openRatingDialog($event)">Rate now</button>
      <star-rating [starType]="'svg'"
                   size="medium"
                   [readOnly]="true"
                   *ngIf="pullRequest.status !== 'Closed' || (pullRequest.status === 'Closed' && !!pullRequest.reviewerRating)"
                   [rating]="pullRequest.reviewerRating || 0"></star-rating>
    </div>
  </div>
  <div class="status opened">
    <div class="text">open</div>
    <div class="time">{{ pullRequest.createdAt.seconds | amFromUnix | amLocal | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</div>
  </div>
  <div class="status closed" *ngIf="pullRequest.status === 'Closed'">
    <div class="text">closed</div>
    <div class="time">{{ pullRequest.updatedAt.seconds | amFromUnix | amLocal | amDateFormat:'YYYY-MM-DD HH:mm:ss' }}</div>
  </div>
</div>
