<ng-container *ngIf="!user">
    <div class="flex cursor-pointer">
        <div class="hover:text-yellow-500" (click)="signIn($event)">
            로그인
        </div>
        <div class="ml-3 hover:text-yellow-500" (click)="signUp($event)">
            회원가입
        </div>
    </div>
</ng-container>

<ng-container *ngIf="user">
    <span class="avatar mr-8">
        <img *ngIf="showAvatar && user.photoURL"
             [src]="user.photoURL">
        <mat-icon *ngIf="!showAvatar || !user.photoURL"
                  [svgIcon]="'account_circle'"></mat-icon>
        <!--        <span class="status" [ngClass]="user?.status"></span>-->
    </span>
    <button class="icon-button"
            mat-icon-button
            [matMenuTriggerFor]="userActions">
        Username
<!--        Todo-from-lion: need to get username -->
        <mat-icon [svgIcon]="'arrow_drop_down'" ></mat-icon>
    </button>

    <mat-menu class="user-actions-menu"
              [xPosition]="'before'"
              #userActions="matMenu">
<!--        <button mat-menu-item>-->
<!--            <span class="user-info">-->
<!--                <span>Signed in as</span>-->
<!--                <span class="email">{{user.displayName}}</span>-->
<!--            </span>-->
<!--        </button>-->
<!--        <mat-divider class="my-2"></mat-divider>-->
        <button mat-menu-item (click)="moveTo('/settings/profile')">
            <span>나의 정보</span>
        </button>
        <button mat-menu-item (click)="moveTo('/settings/billing')">
            <span>나의 결제</span>
        </button>
<!--        <button mat-menu-item>-->
<!--            <mat-icon [svgIcon]="'settings'"></mat-icon>-->
<!--            <span>Settings</span>-->
<!--        </button>-->
<!--        <button mat-menu-item-->
<!--                [matMenuTriggerFor]="userStatus">-->
<!--            <mat-icon [svgIcon]="'radio_button_unchecked'"></mat-icon>-->
<!--            <span>Status</span>-->
<!--        </button>-->
        <mat-divider class="my-2"></mat-divider>
        <button mat-menu-item
                (click)="signOut()">
            <span>로그아웃</span>
        </button>
    </mat-menu>

<!--    <mat-menu class="user-status-menu"-->
<!--              #userStatus="matMenu">-->
<!--        <button mat-menu-item-->
<!--                (click)="updateUserStatus('online')">-->
<!--            <span class="status online"></span>-->
<!--            <span>Online</span>-->
<!--        </button>-->
<!--        <button mat-menu-item-->
<!--                (click)="updateUserStatus('away')">-->
<!--            <span class="status away"></span>-->
<!--            <span>Away</span>-->
<!--        </button>-->
<!--        <button mat-menu-item-->
<!--                (click)="updateUserStatus('busy')">-->
<!--            <span class="status busy"></span>-->
<!--            <span>Busy</span>-->
<!--        </button>-->
<!--        <button mat-menu-item-->
<!--                (click)="updateUserStatus('not-visible')">-->
<!--            <span class="status not-visible"></span>-->
<!--            <span>Invisible</span>-->
<!--        </button>-->
<!--    </mat-menu>-->
</ng-container>
