
  <div class="left-card float-left w-full md:w-56  border-solid border-gray-500 border rounded-md text-center bg-white mt-16 "> 
      <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="rounded-full w-20 h-20 object-cover mx-auto mb-4 mt-12">
      <div class="mb-10"> 
        <p class="name"><b>Iamapple</b></p>
        <p>Enter your email address.</p>
        <p class="mb-3">Enter your phone number.</p>
        <a>
          <mat-icon aria-hidden="false" class="text-gray-500">settings</mat-icon>
        </a>
        <table align="center" width="60%" class="mt-12">
          <tr>
            <td align="left"><b>PR</b></td>
            <td align="right">127</td>
          </tr>
          <tr>
            <td align="left"><b>Review</b></td>
            <td align="right">79</td>
          </tr>
          <tr>
            <td align="left"><b>Contents</b></td>
            <td align="right">139</td>
          </tr>
        </table>
      </div>
  </div>
