<div class="mr-3 mt-5 border-solid border-gray-500 border rounded-md bg-white">
    
    <div class="bg-gray-300 h-16 justify-between items-center md:flex md:items-center mx-6 pl-6 pr-6">
        <div class="flex md:flex-shrink-0 text-gray-600">
            <div class="mr-1">Your Next Payment date is</div>
            <div class="text-blue-400">2019-02-01</div>
        </div>
        <div class="flex md:mt-0 md:ml-6">
            <div class="mr-3">Credit Card</div>
            <div class="text-gray-600">**** **** **** 1234</div>
        </div>
    </div>
    <app-component-nav></app-component-nav>

</div>

