<div class="mr-3 mt-5 border-solid border-gray-500 border rounded-md bg-white">
    
    <div class="bg-gray-100 justify-between items-center md:flex md:items-center mx-6 mt-5 pl-6 pr-6 py-6 ">
        <div class="flex sm:flex-shrink-0 text-gray-600">
            <div class="mr-1">Your Next Payment date is</div>
            <div class="text-blue-400"><a href="#">2019-02-01</a></div>
        </div>
        <div class="sm:mt-0 md:ml-6">
            <div class="flex">
                <div class="mr-3">Credit Card</div>
                <div class="text-gray-600">**** **** **** 1234</div>
            </div>
            <!-- <div class="text-xs"><a href="#">Change payment method </a></div> -->
        </div>
    </div>
    <div class="text-right mr-10 mt-2 text-gray-500 text-xs ">Request for cancelation</div>
    <div class="text-xl ml-8 mt-12">Payment History</div>
    <div class="table w-full px-8 py-4 mt-2 ">
        <div class="table-row-group ">
          <div class="table-row bg-gray-100 font-bold text-gray-900 text-center ">
            <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Date</div>
            <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Product</div>
            <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Period</div>
            <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Method</div>
            <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Amount<span>(tax)</span></div>
            <div class="table-cell text-gray-700 px-4 py-2 text-sm border-b-2">Total</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>
          <div class="table-row">
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">ON-DEMAND CODE-REVIEW</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">2018-01-01~2019-01-01</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm"><span><i class="fab fa-cc-visa mr-1 border-b"></i></span>**** **** **** 1234</div>
            <div class="table-cell text-gray-600 px-4 py-2 text-sm border-b">45,000(5,000)</div>
            <div class="table-cell bg-indigo-100 text-gray-600 px-4 py-2 text-sm border-b">50,000</div>
          </div>

        </div>
      </div>
      
      

    <app-component-nav></app-component-nav>

</div>

