<button mat-icon-button mat-dialog-close class="close-icon" tabindex="-1">
  <mat-icon>close</mat-icon>
</button>

<mat-dialog-content>
  <div class="title">Code-Review Application</div>
  <div class="content">
    <h2>Code-Review Application</h2>
    <app-payment-progress [progressStep]="progressStep"></app-payment-progress>

    <div class="pricing-section pricing-details" [class.active]="progressStep < 3">
      <app-payment-review [pricingCard]="pricingCard"
                          (promotionCodeApplied)="onPromotionCodeApplied($event)"
                          (promotionCodeRemoved)="onPromotionCodeRemoved($event)"></app-payment-review>
      <app-payment-form [pricingCard]="pricingCard"
                        [user]="user"
                        (paid)="onPaid($event)"></app-payment-form>
    </div>

    <div class="pricing-section payment-complete-summary" [class.active]="progressStep === 3">
      <app-payment-complete [pricingCard]="pricingCard"
                            [user]="user"></app-payment-complete>

      <div class="actions">
        <button mat-flat-button
                class="action"
                type="button"
                mat-dialog-close>Close
        </button>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="false">
  <div class="dialog-actions">
    <button mat-flat-button
            class="dialog-action"
            color="primary"
            type="button"
            mat-dialog-close>OK
    </button>
  </div>
</mat-dialog-actions>
