@import "variables";

.mat-dialog-content {
  @media #{$medium-up} {
    max-width: 100vw !important;
  }
}

.pricing-section:not(.active) {
  display: none;
}

.pricing-details.active {
  @include flex-column();

  @media #{$medium-up} {
    @include flex-row();
    justify-content: space-between;
  }

  app-payment-review,
  app-payment-form {
    flex: 1;

    @media #{$medium-up} {
      max-width: 48%;
    }
  }
}

app-payment-review {
  margin: 1rem 0;
}

.actions {
  @include flex-center();

  .action {
    min-width: 7rem;
  }
}

:host(.payment-dialog) {
}
