@import "variables";

.table {
  border: 0px;
  border-collapse: collapse;

  .row {
    box-shadow: 0 1px 0 0 $color-table-row-divider;

    &.headers {
      background-color: $color-table-header-background;
      box-shadow: 0 2px 0 0 $color-table-row-divider;
      color: $color-table-header-text;
      font-weight: 700;
    }

    .cell {
      padding: 1rem;
    }
  }
}

.pagination {
  @include flex-column(center);
  padding: 1rem 0;
}

:host(.mystique-page-list) {
  @include flex-column();
  width: 100%;
}
