<table class="table" role="table" [style.width.px]="getFullWidth()">
  <tr class="headers row" role="rowheader">
    <td class="header cell select" role="columnheader">
      <mat-checkbox (change)="selectAllData($event)"></mat-checkbox>
    </td>
    <td class="header cell" *ngFor="let item of listSource" role="columnheader">
      {{ item.label }}
    </td>
  </tr>

  <tbody *ngIf="dataList">
    <tr class="row" role="row" *ngFor="let data of dataList | paginate: pagination">
      <td class="cell select" role="cell">
        <mat-checkbox [checked]="data.isSelected" (change)="selectData($event, data)"></mat-checkbox>
      </td>
      <td class="cell" *ngFor="let item of listSource" role="cell" [style.width.px]="getWidth(data[item.field])">
        <span *ngIf="data[item.field] && data[item.field].length <= 20">{{ data[item.field] }}</span>
        <span *ngIf="data[item.field] && data[item.field].length > 20">{{ data[item.field].substr(0, 20) }}...</span>
        <span *ngIf="!data[item.field]">-</span>
        <!-- <div class="cell register-date" role="cell" *ngIf="subscriber.registerDate">{{ subscriber.registerDate.seconds * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</div> -->
      </td>
    </tr>
  </tbody>
</table>

<div class="pagination">
  <pagination-controls (pageChange)="onPageChanged($event)"
                       maxSize="9"
                       directionLinks="true"
                       autoHide="false"
                       responsive="true"
                       previousLabel="Previous"
                       nextLabel="Next"
                       screenReaderPaginationLabel="Pagination"
                       screenReaderPageLabel="page"
                       screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>
