
<div class="content-layout fullwidth-standard-normal-scroll ">
    <div class="pl-16 pt-5 border-b ">
        <div class="text-lg font-medium text-charcoal mb-2">전체보기</div>
        <div class="text-sm text-charcoal">총 2,122개의 콘텐츠가 있습니다.</div>
        <div class="flex my-5">
            <div *ngFor="let item of checkedCategories" class="flex justify-between items-center w-32 bg-indigo-100 rounded-full border text-xs pr-2 pl-4 mr-2"
                (click)="toggleCateItem(item)">
                <div>{{ item }}</div>
                <mat-icon class="" style="font-size:16px">close</mat-icon>
            </div>            
        </div>
    </div>
    <div class="">
        <div class="pl-20 px-3 py-3 hover:bg-gray-200 cursor-pointer border-b border-gray-200 mb-3 "
             routerLink="/snack-code/detail/20200429-content" routerLinkActive="font-semibold">
            <div class="text-base font-bold text-charcoal">What is material for codereview</div>
            <div class="overflow-2line" style="width:800px;height:45px">
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
            </div>
            <div class="flex my-5 ">
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>Category1</div>
                </div>
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>short</div>
                </div>
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>ToooooLooooong</div>
                </div>

            </div>
        </div>
        <div class="pl-20 px-3 py-2 hover:bg-gray-200 cursor-pointer border-b border-gray-200  mb-3 "
             routerLink="/snack-code/detail/20200429-content" routerLinkActive="font-semibold">
            <div class="text-base font-bold text-charcoal">What is material for codereview</div>
            <div class="overflow-2line" style="width:800px;height:45px">
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
            </div>
            <div class="flex my-5 ">
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>Category1</div>
                </div>
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>short</div>
                </div>
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>ToooooLooooong</div>
                </div>

            </div>
        </div>
        <div class="pl-20 px-3 py-2 hover:bg-gray-200 cursor-pointer border-b border-gray-200  mb-3 "
             routerLink="/snack-code/detail/20200429-content" routerLinkActive="font-semibold">
            <div class="text-base font-bold text-charcoal">What is material for codereview</div>
            <div class="overflow-2line" style="width:800px;height:45px">
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
            </div>
            <div class="flex my-5 ">
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>Category1</div>
                </div>
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>short</div>
                </div>
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>ToooooLooooong</div>
                </div>

            </div>
        </div>
        <div class="pl-20 px-3 py-2 hover:bg-gray-200 cursor-pointer border-b border-gray-200  mb-3 "
             routerLink="/snack-code/detail/20200429-content" routerLinkActive="font-semibold">
            <div class="text-base font-bold text-charcoal">What is material for codereview</div>
            <div class="overflow-2line" style="width:800px;height:45px">
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
            </div>
            <div class="flex my-5 ">
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>Category1</div>
                </div>
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>short</div>
                </div>
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>ToooooLooooong</div>
                </div>

            </div>
        </div>
        <div class="pl-20 px-3 py-2 hover:bg-gray-200 cursor-pointer border-b border-gray-200  mb-3 "
             routerLink="/snack-code/detail/20200429-content" routerLinkActive="font-semibold">
            <div class="text-base font-bold text-charcoal">What is material for codereview</div>
            <div class="overflow-2line" style="width:800px;height:45px">
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
                Material icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, and web.
            </div>
            <div class="flex my-5 ">
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>Category1</div>
                </div>
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>short</div>
                </div>
                <div class="flex justify-between items-center text-center bg-gray-200 rounded-full border text-xs px-3 mr-2">
                    <div>ToooooLooooong</div>
                </div>

            </div>
        </div>
    </div>

    <div class="flex justify-center my-12">
        <nav class="flex items-center">
            <div class="rounded-l border-l border-t border-b px-6 py-1 text-gray-400 bg-gray-100 font-medium">이전</div>
            <div class="border-t border-b border-r px-3 py-1 bg-charcoal text-white">1</div>
            <div class="border-t border-b border-r px-3 py-1">2</div>
            <div class="border-t border-b border-r px-3 py-1">3</div>
            <div class="border-t border-b border-r px-3 py-1 text-gray-400 bg-gray-100">...</div>
            <div class="border-t border-b border-r px-3 py-1">8</div>
            <div class="border-t border-b border-r px-3 py-1">9</div>
            <div class="border-t border-b border-r px-3 py-1">10</div>
            <div class="border-t border-b border-r px-5 py-1">다음</div>
        </nav>
    </div>
</div>
