// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------

.text-charcoal {
  color:#444A52;
}
.text-yellow {
  color:#F7C243;
}
.text-pink {
  color:#DA507A
}
.text-green {
  color:#C0D99A;
}
.text-blue {
  color:#2E76DF;
}


.bg-charcoal {
  background:#444A52;
}
.bg-yellow {
  background:#F7C243;
}
.bg-pink {
  background:#DA507A
}
.bg-green {
  background:#C0D99A;
}
.bg-blue {
  background:#2E76DF;
}

.protocol-box{
  background: linear-gradient(180deg, #FAFAFC 0%, #EFF3F6 100%), #EFF3F6;
  /* Default/gray/400 */

  border: 1px solid #CBD5E0;
  box-sizing: border-box;
  border-radius: 4px;
}

.overflow-2line{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-green{
  background: linear-gradient(180deg, #33CE57 0%, #29AC47 100%);
  border: 1px solid #2DA449;
  box-sizing: border-box;
  border-radius: 4px;
  color:white!important;

}

.w-wrapper{
  width:1200px;
}
body{background:white!important; }