@import "variables";
@import "../../styles/app-colors";

.branches {
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include flex-column(center);
  opacity: .1;
  overflow: hidden;
  display: none;

  @media #{$medium-up} {
    @include flex-column(center);
    max-width: rem(300px);
    position: relative;
    opacity: 1;
  }
}

.subscription-content {
  @include flex-column(center);
  flex: 3;
  padding: 7rem 0;
  max-width: rem(900px);

  @media #{$medium-up} {
    padding: 10rem 0 3rem 0;
  }
}

.head-text {
  word-break: keep-all;

  text-align: center;
  padding: 0 3rem;

  .big {
    font-size: rem(24px);
  }
  .small {
    margin-top: 10px;
    font-size: rem(19px);
  }

  @media #{$medium-up} {
    .big {
      font-size: rem(32px);
    }
    .small {
      font-size: rem(24px);
    }
  }
}

.home-footer {
  @include flex-column();
  align-items: flex-end;
  margin-top: auto;
  padding: 1rem 0.5rem;
  font-size: rem(12px);

  @media #{$medium-up} {
    align-self: flex-end;
  }
}

:host(.home) {
  @include flex-column(center);
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(#1E455C, #25292D);
  position: relative;

  @media #{$medium-up} {
    @include flex-row();
    justify-content: center;
  }
}
