<div class="branches">
  <img src="/assets/images/branches.svg" alt="branches">
</div>

<div class="subscription-content">
  <div class="head-text">
    <div class="big">
      <img src="/assets/images/logo-r.png" alt="RE: {CODE};"><br/>
      <span>TopClass</span>
      <span class="ko"> 전문가의</span>
      <br class="small-only">
      <span class="ko"> 코드리뷰 서비스가 시작됩니다.</span>
    </div>

    <br class="small-only">

    <div class="small">
      <span style="color: #f8cb5f;">RE:{{"{CODE};"}}</span>
      <span class="ko">의 새로운 개발 생태계를</span>
      <br class="small-only">
      <span class="ko"> 경험해 보세요. </span>
      <br class="medium-up">
      <span>Github </span>
      <span class="ko">아이디로 모든 기능과 서비스를 이용할수 있습니다.</span>
    </div>
  </div>

  <p></p>

  <div>
    <a class="ko" mat-stroked-button color="secondary" href="http://bit.ly/2qkI4qL" target="_blank">서비스 소개서</a>
    <button class="ko" mat-raised-button color="primary" style="margin-left: 15px;" routerLink="/apply-reviewee">코드리뷰 신청</button>
    <button class="ko"mat-stroked-button color="secondary" style="margin-left: 15px;" routerLink="/apply-reviewer">리뷰어 등록</button>
  </div>

  <p></p>

  <div>
    <app-launch-subscription></app-launch-subscription>
  </div>

  <p></p>

  <div class="home-footer">
    <div>
        <span>상호: 테크로드 </span>
        <span>| 사업자등록번호: 156-14-01139</span>
    </div>
    <div>
        <span>소재지: 서울특별시 강남구 역삼로 215, 2층 </span>
    </div>
    <div>
        <span>대표자명: 조중현 | 개인정보보호책임: 조중현 </span>
    </div>
    <div>
        <span>고객센터: lion@re-code.io</span></div>
    <p></p>
    <div>
        <span>RE-CODE.IO © All Right Reserved</span>
    </div>
  </div>
</div>
