<div class="content-layout">
    <div class="mx-auto md:max-w-6xl container px-3">
        <!-- Title-->
        <div class="flex-shrink md:flex  mb-12 mt-12 items-center">
            <div class="flex mr-16 items-center">
                <div class="mr-2"><img src="/assets/icons/code-review-icon.svg"></div>
                <div class="text-center">
                    <div class="text-xl font-bold">퍼블릭 코드리뷰</div>
                    <div class="-mt-2 text-base text-gray-500">Public code-review</div>
                </div>
            </div>
            <div class="flex-shrink md:flex mt-5 md:mt-0 text-gray-600 text-base">
                누구나 참여가 가능한 공개 코드리뷰 공간입니다.<br>리뷰를 원하는 코드를 공유하고 여러 사용자들에게 리뷰를 받아보세요.
            </div>
        </div>

        <!-- body -->
        <div class="code-review-control">
            <gitcode-code-review-filter (formSubmitted)="onFilterFormSubmitted($event)"></gitcode-code-review-filter>
            <gitcode-button (click)="createReview($event)">
                {{ 'codeReview.request' | translate }}
            </gitcode-button>
        </div>

        <div class="mt-5 mb-12">
            <ul class="items">
                <li class="item"
                    *ngFor="let item of codeReviewItems">
                    <gitcode-code-review-item [codeReviewItem]="item"
                                              (itemClicked)="openReviewDetail(null, $event)"></gitcode-code-review-item>
                </li>
            </ul>
        </div>

        <a href="#" class="load-more" *ngIf="hasMoreDocuments" (click)="loadMoreDocuments($event)">Load more</a>

        <div class="text-center md:h-64 md:my-24 flex items-center justify-center text-gray-600 text-sm font-medium"
             *ngIf="hasContent === false">
            <div>
                아직 등록된 코드리뷰 요청이 없습니다.<br>
                첫번째 코드리뷰 요청의 주인공이 되어보세요.
            </div>
        </div>
    </div>
</div>

<!--TODO REQUEST -->
<!--TODO Checkbox-->
