<div class="w-auto md:w-48 border border-solid border-gray-400 rounded bg-white">
    <div class="user-block md:py-12 py-3 text-center">
        <div class="image-wrapper md:mb-8 mb-1">
            <img src="{{ user?.photoURL }}" alt="{{ user?.displayName }}">
        </div>
        <div class="md:pb-4 pb-2 text-base font-bold text-charcoal">
            {{ user?.displayName }}
        </div>
        <div class="md:pb-3 pb-1">{{ user?.email }}</div>
        <div class="flex justify-center">
            <img src="/assets/icons/pr-repository.svg" class="w-3 mr-1">
            <span>{{ repoCount }}</span><span>개의 Repository</span>
        </div>
    </div>
</div>
