<!--<div class="border border-solid rounded-sm">-->
<!--    <div class="px-3 py-2 bg-gray-300 text-xs text-gray-700 font-semibold border-b border-solid">-->
<!--        Personal settings-->
<!--    </div>-->
<!--    <div>-->
<!--        <div class="px-3 py-2 hover:bg-gray-200 cursor-pointer border-b border-solid"-->
<!--             routerLink="/settings/profile" routerLinkActive="font-semibold">-->
<!--            <a>Profile</a>-->
<!--        </div>-->
<!--        <div class="px-3 py-2 hover:bg-gray-200 cursor-pointer"-->
<!--             routerLink="/settings/billing" routerLinkActive="font-semibold">-->
<!--            <a>Billing</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="border border-solid border-gray-400 rounded w-56 bg-white">
    <div class="py-12 text-center ">
        <div class="pb-8 flex justify-center" >
            <img src="/assets/icons/avatar-a.svg" style="width:75px">
        </div>
        <div class="pb-4 text-base font-bold  text-charcoal">Username</div>
        <div class="pb-3">IamLione@gmail.com</div>
        <div class="flex justify-center">
            <img src="/assets/icons/pr-repository.svg" class="w-3 mr-1">
            <span>1</span><span>개의 Repository</span>
        </div>
    </div>
</div>