<mat-toolbar class="toolbar" *ngIf="!sidenav.opened">
  <button class="sidenav-toggle" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="title">{{ "RE: {CODE};" }}</h1>
  <ul class="menu-items">
    <li class="menu-item" *ngFor="let menuItem of menuItems">
      <a routerLink="{{ menuItem.link }}" routerLinkActive="active" *ngIf="menuItem.enabled">{{ menuItem.text }}</a>
    </li>
  </ul>
  <span class="spacer"></span>
  <div class="spinner" *ngIf="isAuthenticating">
    <mat-progress-spinner
      diameter="32"
      color="primary"
      mode="indeterminate"
      value=".8">
    </mat-progress-spinner>
  </div>
  <ul class="menu-items" *ngIf="!isAuthenticating">
    <li class="menu-item" *ngIf="!isAuthenticated">
      <a href="#" (click)="signIn($event)" [innerHtml]="'layout.signIn' | translate"></a>
    </li>
    <li class="menu-item" *ngIf="!isAuthenticated">
      <a href="#" (click)="signUp($event)" [innerHtml]="'layout.signUp' | translate"></a>
    </li>
    <li class="menu-item" *ngIf="isAuthenticated && false">
      <a routerLink="/logout">Sign out</a>
    </li>
  </ul>
  <div class="notifications">
    <button mat-button
            [disabled]="!inboxMessages?.length"
            [matMenuTriggerFor]="inboxMessagesMenu">
      <mat-icon [matBadge]="newMessageCount.toString(10)"
                [matBadgeHidden]="!shouldShowBadge"
                matBadgeColor="warn"
                matBadgeSize="small">notifications_active
      </mat-icon>
    </button>
    <mat-menu #inboxMessagesMenu="matMenu" class="light-theme">
      <ul class="inbox-messages">
        <li class="inbox-message"
            *ngFor="let inboxMessage of inboxMessages">
          <app-inbox-message [inboxMessage]="inboxMessage"
                             [user]="user"></app-inbox-message>
        </li>
      </ul>
    </mat-menu>
  </div>
  <div class="user-menu">
    <button mat-button [matMenuTriggerFor]="userMenu" *ngIf="user">
      <img [attr.src]="user?.photoURL" [attr.alt]="user?.displayName">
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <div class="user-info">
        Signed in as<br>{{ gitHubUser?.login }}
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item>My reviews</button>
      <button mat-menu-item>My code content</button>
      <button mat-menu-item>Payment history</button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/logout">Sign out</button>
    </mat-menu>
  </div>
  <div class="medium-up">
    <app-language-selector [availableLanguages]="availableLanguages"
                           [selectedLanguageCode]="selectedLanguageCode"></app-language-selector>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav"
               [mode]="mobileQuery.matches ? 'over' : 'over'"
               [opened]="false"
               [fixedInViewport]="true">
    <div class="logo-wrapper">
      <div class="logo-container">
        <img class="logo" src="/assets/images/r.svg" alt="ReCode">
        <div class="titles">
          <h1 class="title">{{ "RE: {CODE};" }}</h1>
        </div>
      </div>
    </div>

    <app-language-selector [availableLanguages]="availableLanguages"
                           [selectedLanguageCode]="selectedLanguageCode"></app-language-selector>

    <mat-nav-list>
      <ng-container *ngFor="let menuItem of menuItems">
        <a *ngIf="menuItem.enabled"
           mat-list-item
           routerLink="{{ menuItem.link }}"
           routerLinkActive="active">{{ menuItem.text }}</a>
      </ng-container>
      <mat-divider></mat-divider>
      <a mat-list-item href="#" (click)="signIn($event)" *ngIf="!isAuthenticated">
        {{ 'layout.signIn' | translate }}
      </a>
      <a mat-list-item href="#" (click)="signUp($event)" *ngIf="!isAuthenticated">
        {{ 'layout.signUp' | translate }}
      </a>
      <a mat-list-item routerLink="/logout" *ngIf="isAuthenticated">Sign out</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="footer">
  <span>RE-CODE.IO © All Right Reserved.</span>
</div>
