@import 'treo';

.mat-form-field {
  width: 100%;
}

.mat-radio-group {
  @include flex-row(center);
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;

  .mat-radio-button {
    width: 50%;
    line-height: 3;
    font-size: em(14px);
    color: #444A52;
  }
}

.topics {
  @include flex-row(center);
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .topic {
    width: 50%;
    line-height: 2;
  }
}

.actions {
  @include flex-row(center);
  justify-content: center;
}

:host(.contact-us-form) {
  @include flex-column();
}
