<form class="ko" [formGroup]="formGroup"
      #formGroupDirective="ngForm"
      (ngSubmit)="onFormSubmit($event, formGroup.value, formGroupDirective)">
  <ul>
    <li>
      <p>코드 리뷰를 이용하실 팀의 규모를 알려주세요.</p>
      <mat-radio-group formControlName="teamSize">
        <mat-radio-button value="individual">개인 (1인)</mat-radio-button>
        <mat-radio-button value="small">10명 이내의 팀</mat-radio-button>
        <mat-radio-button value="large">10명 이상의 팀</mat-radio-button>
      </mat-radio-group>
    </li>
    <li>
      <p>코드 리뷰를 받고자 하는 목적을 선택해주세요.</p>
      <mat-checkbox formControlName="isForCodeQuality"
                    (change)="onPurposeSelectionChanged('code quality', $event.checked)">코드 품질 향상
      </mat-checkbox>
      <mat-checkbox formControlName="isForEducational"
                    (change)="onPurposeSelectionChanged('educational', $event.checked)">개인 스킬업
      </mat-checkbox>
    </li>
    <li>
      <p>소식을 받을 이메일 주소를 입력하세요.</p>
      <mat-form-field>
        <mat-label>이메일</mat-label>
        <input matInput
               type="text"
               formControlName="email"
               placeholder="이메일 주소 입력"
               required>
        <mat-error>
          <span *ngIf="emailControl?.hasError('required') || emailControl?.hasError('pattern')">A valid email address is required.</span>
          <span *ngIf="emailControl?.hasError('existed')">This email address has already been requested.</span>
        </mat-error>
      </mat-form-field>
    </li>
    <li>
      <p>휴대폰 번호를 입력하세요.</p>
      <mat-form-field>
        <mat-label>휴대폰</mat-label>
        <input matInput
               type="number"
               formControlName="phone"
               placeholder="휴대폰 번호 입력"
               >
        <mat-error>
          <span *ngIf="phoneControl?.hasError('pattern')">A phone number is not valid.</span>
        </mat-error>
      </mat-form-field>
    </li>
  </ul>

  <div class="form-actions">
    <button mat-flat-button
            color="primary"
            type="submit"
            class="form-action"
            [disabled]="!formGroup.valid || isCheckingSubscriber">구독 신청하기
    </button>
  </div>
</form>
